In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3 as sql
import re
import numpy as np
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt


%matplotlib inline

In [2]:
Police_calls_1 = pd.read_excel("../data/CLEANED - DMC - Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx",1)
Police_calls_2 = pd.read_excel("../data/CLEANED - DMC - Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx",2)
Police_calls_3 = pd.read_excel("../data/CLEANED - DMC - Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx",3)

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
Police_calls_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48020 entries, 0 to 48019
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          48020 non-null  object
 1   Precinct       48020 non-null  object
 2   Date           47926 non-null  object
 3   Created        47926 non-null  object
 4   Address        47926 non-null  object
 5   Incident Type  47926 non-null  object
 6   Priority       47926 non-null  object
dtypes: object(7)
memory usage: 2.6+ MB

In [5]:
Police_Calls=Police_calls_1.dropna()

In [6]:
Police_Calls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47926 entries, 0 to 48019
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          47926 non-null  object
 1   Precinct       47926 non-null  object
 2   Date           47926 non-null  object
 3   Created        47926 non-null  object
 4   Address        47926 non-null  object
 5   Incident Type  47926 non-null  object
 6   Priority       47926 non-null  object
dtypes: object(7)
memory usage: 2.9+ MB

In [7]:
Police_Calls

,Month,Precinct,Date,Created,Address,Incident Type,Priority
0,July,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,July,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,July,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,July,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,July,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...,...
48015,March,W,03-31-2022,11:46:52,3811 HILLSBORO PIKE,TRESPASSER,2
48016,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
48017,March,W,03-31-2022,17:59:25,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
48018,March,W,03-31-2022,20:31:47,2828 KENWAY RD,SUSPICIOUS PERSON,2
48019,March,W,03-31-2022,22:30:34,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [8]:
Police_calls_2

,Month,Precinct,ASSIST EMS,DISORDERLY SUBJECT,DOMESTIC DISTURBANCE,INTOXICATED PERSON,MENTAL CONDITION,SUICIDAL PERSON,SUSPICIOUS PERSON,TRESPASSER,WELFARE CHECK
0,August,C,203,354,11,7,28,43,18,104,85
1,August,CMD1,0,1,0,0,0,0,0,0,0
2,August,CW,3,8,0,0,1,1,1,3,2
3,August,E,91,187,56,3,13,16,44,33,88
4,August,H,190,310,64,5,28,31,69,68,190
5,August,M,140,173,48,0,16,20,33,28,120
6,August,MT,164,255,31,6,21,19,50,67,129
7,August,N,141,236,70,1,22,29,32,46,129
8,August,PCW,1,0,0,0,0,0,0,0,0
9,August,S,190,304,77,8,23,23,45,66,172
10,August,W,124,160,18,5,17,17,36,38,98
11,August,Total,1247,1988,375,35,169,199,328,453,1013
12,December,C,140,264,12,7,18,30,16,134,85
13,December,CW,2,1,0,0,0,0,2,3,3
14,December,E,97,154,21,4,11,15,32,18,105
15,December,H,168,240,56,4,18,32,69,61,189
16,December,M,125,174,39,3,15,23,42,39,122
17,December,MT,122,191,34,3,15,22,42,58,129
18,December,N,125,161,35,1,18,20,35,55,115
19,December,S,158,270,57,1,14,23,45,56,224
20,December,W,101,128,16,2,6,13,46,34,128
21,December,Total,1038,1583,270,25,115,178,329,458,1100
22,February,C,126,251,9,10,14,48,14,90,63
23,February,CW,1,4,0,0,0,0,0,0,0
24,February,E,96,120,31,2,14,13,28,32,105
25,February,H,159,236,48,6,15,33,58,53,210
26,February,M,105,129,30,2,9,15,40,29,112
27,February,MT,101,145,25,6,16,16,37,49,135
28,February,N,99,173,28,1,10,19,31,36,139
29,February,S,174,254,50,7,11,22,47,56,205
30,February,W,93,154,22,3,8,12,35,35,124
31,February,Total,954,1466,243,37,97,178,290,380,1093
32,January,C,111,236,13,6,14,28,15,113,75
33,January,CW,2,4,0,0,0,0,0,1,3
34,January,E,89,136,32,1,8,19,24,32,109
35,January,H,138,210,45,5,21,32,52,52,198
36,January,M,99,132,37,1,11,17,31,27,147
37,January,MT,91,189,28,7,14,16,47,53,131
38,January,N,93,179,36,0,18,20,35,46,113
39,January,S,157,245,49,4,17,35,50,58,199
40,January,W,67,113,25,2,8,12,38,15,116
41,January,Total,847,1444,265,26,111,179,292,397,1091
42,July,C,189,296,9,13,29,53,21,108,74
43,July,CMD1,0,1,0,0,0,0,0,0,0
44,July,CW,0,4,0,0,0,1,3,2,7
45,July,E,102,146,39,6,11,12,18,29,87
46,July,H,179,289,82,8,33,35,41,70,176
47,July,M,125,130,48,1,11,15,18,25,116
48,July,MT,165,220,40,8,20,22,41,71,115
49,July,N,133,211,43,2,41,25,31,43,122
50,July,S,186,245,95,7,31,22,39,61,157
51,July,W,115,108,35,5,24,18,32,36,100
52,July,Total,1194,1650,391,50,200,203,244,445,954
53,November,C,161,310,8,4,11,35,17,126,79
54,November,CW,2,3,0,0,0,0,1,0,0
55,November,E,85,106,30,2,9,7,40,44,99
56,November,H,161,243,55,1,23,18,48,41,174
57,November,M,110,131,33,2,13,22,26,27,115
58,November,MT,122,202,20,6,10,17,42,61,126
59,November,N,113,169,28,2,18,17,26,56,116
60,November,S,158,251,57,2,15,23,45,55,198
61,November,W,89,121,11,0,11,19,49,23,95
62,November,Total,1001,1536,242,19,110,158,294,433,1002
63,October,C,196,354,9,6,18,43,30,128,110
64,October,CMD2,0,0,0,0,0,0,0,0,1
65,October,CW,1,6,0,0,0,0,2,1,0
66,October,E,113,227,38,3,16,14,45,36,115
67,October,H,219,332,53,5,22,42,59,63,196
68,October,M,130,158,41,1,10,26,39,49,141
69,October,MT,188,298,24,6,17,26,62,76,139
70,October,N,173,217,36,2,38,26,40,45,122
71,October,PCW,1,0,0,0,1,0,0,0,0
72,October,S,226,334,58,5,23,24,54,71,209
73,October,W,118,166,14,4,15,22,51,48,119
74,October,Total,1365,2092,273,32,160,223,382,517,1152
75,September,C,209,377,16,10,26,40,15,120,84
76,September,CW,4,14,0,0,1,0,2,1,5
77,September,E,101,192,46,6,16,16,25,34,90
78,September,H,174,325,47,6,22,29,73,76,211
79,September,M,138,167,41,1,15,15,33,34,120
80,September,MT,148,239,26,4,18,20,43,73,135
81,September,N,137,210,36,4,29,36,26,52,120
82,September,PCW,1,0,0,0,0,0,0,0,0
83,September,S,203,359,57,7,29,36,50,64,155
84,September,W,109,137,27,3,12,14,37,45,113
85,September,Total,1224,2020,296,41,168,206,304,499,1033
86,March,C,175,292,12,10,13,29,25,100,85
87,March,CW,1,6,0,0,0,0,2,1,3
88,March,E,113,189,31,2,12,19,34,33,91
89,March,H,181,303,78,2,22,32,65,73,207
90,March,M,147,174,49,4,16,31,33,30,123
91,March,MT,149,199,31,7,10,21,53,49,140
92,March,N,122,209,35,1,24,26,34,53,119
93,March,S,198,286,59,3,27,29,42,66,236
94,March,W,87,131,11,4,12,14,46,36,103
95,March,Total,1173,1789,306,33,136,201,334,441,1107

In [9]:
Police_calls_3

,Month,Precinct,Priority-1,Priority-2,Priority-2L,Priority-2M,Priority-2N,Priority-2T,Priority-3,Priority-3H,Priority-3M,Priority-3Q,Total
0,August,C,2,578,0,251,0,0,21,0.0,1,0,853
1,August,CMD1,0,0,0,1,0,0,0,0.0,0,0,1
2,August,CW,0,2,0,17,0,0,0,0.0,0,0,19
3,August,E,0,391,0,126,0,0,12,0.0,2,0,531
4,August,H,0,729,0,190,0,0,32,0.0,4,0,955
5,August,M,0,388,0,169,0,0,21,0.0,0,0,578
6,August,MT,0,532,1,186,0,0,23,0.0,0,0,742
7,August,N,0,523,0,143,0,0,40,0.0,0,0,706
8,August,PCW,0,0,0,1,0,0,0,0.0,0,0,1
9,August,S,2,683,0,180,0,0,41,0.0,2,0,908
10,August,W,0,375,0,114,0,0,23,0.0,1,0,513
11,August,Total,4,4201,1,1378,0,0,213,0.0,10,0,5807
12,December,C,0,509,0,172,0,0,25,0.0,0,0,706
13,December,CW,0,5,0,6,0,0,0,0.0,0,0,11
14,December,E,1,289,0,145,0,0,19,0.0,3,0,457
15,December,H,1,622,0,181,0,0,30,0.0,3,0,837
16,December,M,0,384,0,176,0,0,20,0.0,2,0,582
17,December,MT,0,411,0,188,0,0,17,0.0,0,0,616
18,December,N,1,398,0,126,0,0,35,0.0,5,0,565
19,December,S,0,628,0,184,0,0,36,0.0,0,0,848
20,December,W,0,351,0,101,0,0,19,0.0,3,0,474
21,December,Total,3,3597,0,1279,0,0,201,0.0,16,0,5096
22,February,C,1,431,0,166,0,0,27,0.0,0,0,625
23,February,CW,0,2,0,3,0,0,0,0.0,0,0,5
24,February,E,1,296,1,120,0,0,23,0.0,0,0,441
25,February,H,1,569,0,207,0,0,40,0.0,1,0,818
26,February,M,0,303,0,149,0,0,19,0.0,0,0,471
27,February,MT,0,375,0,140,0,0,15,0.0,0,0,530
28,February,N,0,383,0,128,0,0,24,0.0,1,0,536
29,February,S,1,623,0,156,0,0,46,0.0,0,0,826
30,February,W,0,349,0,111,0,0,25,0.0,1,0,486
31,February,Total,4,3331,1,1180,0,0,219,0.0,3,0,4738
32,January,C,0,451,0,137,0,0,23,0.0,0,0,611
33,January,CW,0,1,0,8,0,0,1,0.0,0,0,10
34,January,E,0,288,0,144,0,0,16,0.0,2,0,450
35,January,H,0,552,0,168,0,0,31,0.0,2,0,753
36,January,M,0,281,0,194,0,1,24,0.0,2,0,502
37,January,MT,1,384,0,172,0,0,19,0.0,0,0,576
38,January,N,0,370,0,145,0,0,25,0.0,0,0,540
39,January,S,1,577,0,189,1,0,44,0.0,2,0,814
40,January,W,0,294,0,84,0,0,17,0.0,1,0,396
41,January,Total,2,3198,0,1241,1,1,200,0.0,9,0,4652
42,July,C,2,545,0,218,0,0,26,0.0,0,1,792
43,July,CMD1,0,0,0,0,0,0,1,0.0,0,0,1
44,July,CW,0,4,0,12,0,0,1,0.0,0,0,17
45,July,E,0,305,0,124,0,0,18,0.0,3,0,450
46,July,H,1,674,0,196,0,0,40,0.0,2,0,913
47,July,M,0,310,0,146,0,0,32,0.0,1,0,489
48,July,MT,0,501,0,187,0,0,14,0.0,0,0,702
49,July,N,1,485,0,135,0,0,30,0.0,0,0,651
50,July,S,0,596,0,217,0,0,29,0.0,1,0,843
51,July,W,0,346,0,102,0,0,24,0.0,1,0,473
52,July,Total,4,3766,0,1337,0,0,215,0.0,8,1,5331
53,November,C,0,532,0,195,0,0,23,0.0,1,0,751
54,November,CW,0,1,0,4,0,0,1,0.0,0,0,6
55,November,E,0,288,0,116,0,0,18,0.0,0,0,422
56,November,H,2,541,0,183,0,0,36,0.0,2,0,764
57,November,M,1,298,0,162,0,0,18,0.0,0,0,479
58,November,MT,0,421,0,173,0,0,12,0.0,0,0,606
59,November,N,0,392,0,124,0,0,29,0.0,0,0,545
60,November,S,0,618,0,147,0,0,37,0.0,2,0,804
61,November,W,1,281,0,116,0,0,20,0.0,0,0,418
62,November,Total,4,3372,0,1220,0,0,194,0.0,5,0,4795
63,October,C,0,676,0,189,0,0,28,0.0,1,0,894
64,October,CMD2,0,0,0,1,0,0,0,0.0,0,0,1
65,October,CW,0,5,0,5,0,0,0,0.0,0,0,10
66,October,E,1,411,0,177,0,0,18,0.0,0,0,607
67,October,H,1,721,0,222,0,0,44,0.0,3,0,991
68,October,M,0,387,0,184,0,0,22,0.0,2,0,595
69,October,MT,1,587,0,230,0,0,17,0.0,1,0,836
70,October,N,0,535,0,130,0,0,33,0.0,1,0,699
71,October,PCW,0,0,0,2,0,0,0,0.0,0,0,2
72,October,S,4,743,0,216,0,0,38,0.0,3,0,1004
73,October,W,0,417,0,113,0,0,27,0.0,0,0,557
74,October,Total,7,4482,0,1469,0,0,227,0.0,11,0,6196
75,September,C,1,636,0,233,0,0,25,0.0,2,0,897
76,September,CW,0,6,0,19,0,0,1,1.0,0,0,27
77,September,E,1,365,0,135,0,0,24,0.0,1,0,526
78,September,H,0,733,0,191,0,0,38,0.0,1,0,963
79,September,M,0,345,0,184,0,0,33,0.0,2,0,564
80,September,MT,0,512,0,175,0,0,17,0.0,2,0,706
81,September,N,0,478,0,145,0,0,25,0.0,2,0,650
82,September,PCW,0,0,0,1,0,0,0,0.0,0,0,1
83,September,S,1,695,0,209,0,0,53,0.0,2,0,960
84,September,W,0,358,0,114,0,0,25,0.0,0,0,497
85,September,Total,3,4128,0,1406,0,0,241,1.0,12,0,5791
86,March,C,1,456,0,263,0,0,20,0.0,1,0,741
87,March,CW,0,5,0,7,0,0,1,0.0,0,0,13
88,March,E,0,364,0,131,0,0,28,0.0,1,0,524
89,March,H,3,669,0,249,0,0,37,0.0,5,0,963
90,March,M,0,349,0,219,0,1,37,0.0,1,0,607
91,March,MT,0,431,0,217,0,0,11,0.0,0,0,659
92,March,N,0,448,0,139,0,0,33,0.0,3,0,623
93,March,S,1,685,0,220,0,0,40,0.0,0,0,946
94,March,W,0,294,0,132,0,0,16,NaN,2,0,444
95,March,Total,5,3701,0,1577,0,1,223,0.0,13,0,5520

In [10]:
conn = sql.connect('../data/census.sqlite')

In [11]:
cur = conn.cursor()

In [12]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;")

In [13]:
available_tables = (cur.fetchall())

In [14]:
print(available_tables)

[('B01001',), ('B03002',), ('B11001',), ('B11002',), ('B15002',), ('B19001',), ('B19013',), ('B19301',), ('B25024',), ('B25075',), ('S1701',)]

In [15]:
cur.execute("SELECT * FROM 'B01001' LIMIT 5;")

In [16]:
B01001 = (cur.fetchall())

In [17]:
type(B01001)

list

In [18]:
B01001

[(0,
  '1400000US47037010103',
  'Census Tract 101.03, Davidson County, Tennessee',
  10103,
  37,
  47,
  'B01001_001E',
  2533,
  'Estimate!!Total:'),
 (1,
  '1400000US47037010104',
  'Census Tract 101.04, Davidson County, Tennessee',
  10104,
  37,
  47,
  'B01001_001E',
  2955,
  'Estimate!!Total:'),
 (2,
  '1400000US47037010105',
  'Census Tract 101.05, Davidson County, Tennessee',
  10105,
  37,
  47,
  'B01001_001E',
  4435,
  'Estimate!!Total:'),
 (3,
  '1400000US47037010106',
  'Census Tract 101.06, Davidson County, Tennessee',
  10106,
  37,
  47,
  'B01001_001E',
  3397,
  'Estimate!!Total:'),
 (4,
  '1400000US47037010201',
  'Census Tract 102.01, Davidson County, Tennessee',
  10201,
  37,
  47,
  'B01001_001E',
  4157,
  'Estimate!!Total:')]

In [19]:
B01001_df = pd.read_sql("SELECT * FROM B01001;", conn)

In [20]:
type(B01001_df)

pandas.core.frame.DataFrame

In [21]:
B01001_df.head()

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B01001_001E,2533,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B01001_001E,2955,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B01001_001E,4435,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B01001_001E,3397,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B01001_001E,4157,Estimate!!Total:

In [22]:
cur.execute("SELECT * FROM 'B03002' LIMIT 5;")
B03002 = (cur.fetchall())
B03002_df = pd.read_sql("SELECT * FROM B03002;", conn)
B03002_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B03002_001E,2533,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B03002_001E,2955,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B03002_001E,4435,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B03002_001E,3397,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B03002_001E,4157,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
3376,3376,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B03002_021E,0,Estimate!!Total:!!Hispanic or Latino:!!Two or ...
3377,3377,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B03002_021E,59,Estimate!!Total:!!Hispanic or Latino:!!Two or ...
3378,3378,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B03002_021E,14,Estimate!!Total:!!Hispanic or Latino:!!Two or ...
3379,3379,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B03002_021E,0,Estimate!!Total:!!Hispanic or Latino:!!Two or ...
3380,3380,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B03002_021E,0,Estimate!!Total:!!Hispanic or Latino:!!Two or ...

In [23]:
cur.execute("SELECT * FROM 'B11001' LIMIT 5;")
B11001 = (cur.fetchall())
B11001_df = pd.read_sql("SELECT * FROM B11001;", conn)
B11001_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B11001_001E,990,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B11001_001E,1221,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B11001_001E,1860,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B11001_001E,1152,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B11001_001E,1731,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
1444,1444,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B11001_009E,517,Estimate!!Total:!!Nonfamily households:!!House...
1445,1445,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B11001_009E,807,Estimate!!Total:!!Nonfamily households:!!House...
1446,1446,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B11001_009E,265,Estimate!!Total:!!Nonfamily households:!!House...
1447,1447,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B11001_009E,0,Estimate!!Total:!!Nonfamily households:!!House...
1448,1448,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B11001_009E,0,Estimate!!Total:!!Nonfamily households:!!House...

In [24]:
cur.execute("SELECT * FROM 'B11002' LIMIT 5;")
B11002 = (cur.fetchall())
B11002_df = pd.read_sql("SELECT * FROM B11002;", conn)
B11002_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B11002_001E,2533,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B11002_001E,2955,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B11002_001E,4430,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B11002_001E,3260,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B11002_001E,4157,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
1927,1927,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B11002_012E,2936,Estimate!!Total:!!In nonfamily households
1928,1928,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B11002_012E,5088,Estimate!!Total:!!In nonfamily households
1929,1929,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B11002_012E,1196,Estimate!!Total:!!In nonfamily households
1930,1930,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B11002_012E,0,Estimate!!Total:!!In nonfamily households
1931,1931,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B11002_012E,0,Estimate!!Total:!!In nonfamily households

In [25]:
cur.execute("SELECT * FROM 'B15002' LIMIT 5;")
B15002 = (cur.fetchall())
B15002_df = pd.read_sql("SELECT * FROM B15002;", conn)
B15002_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B15002_001E,1872,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B15002_001E,2349,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B15002_001E,3621,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B15002_001E,2301,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B15002_001E,3163,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
5630,5630,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B15002_035E,157,Estimate!!Total:!!Female:!!Doctorate degree
5631,5631,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B15002_035E,58,Estimate!!Total:!!Female:!!Doctorate degree
5632,5632,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B15002_035E,5,Estimate!!Total:!!Female:!!Doctorate degree
5633,5633,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B15002_035E,0,Estimate!!Total:!!Female:!!Doctorate degree
5634,5634,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B15002_035E,0,Estimate!!Total:!!Female:!!Doctorate degree

In [26]:
cur.execute("SELECT * FROM 'B19001' LIMIT 5;")
B19001 = (cur.fetchall())
B19001_df = pd.read_sql("SELECT * FROM B19001;", conn)
B19001_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19001_001E,990,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19001_001E,1221,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19001_001E,1860,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19001_001E,1152,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19001_001E,1731,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
2732,2732,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B19001_017E,311,"Estimate!!Total:!!$200,000 or more"
2733,2733,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B19001_017E,654,"Estimate!!Total:!!$200,000 or more"
2734,2734,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B19001_017E,99,"Estimate!!Total:!!$200,000 or more"
2735,2735,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B19001_017E,0,"Estimate!!Total:!!$200,000 or more"
2736,2736,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B19001_017E,0,"Estimate!!Total:!!$200,000 or more"

In [27]:
cur.execute("SELECT * FROM 'B19013' LIMIT 5;")
B19013 = (cur.fetchall())
B19013_df = pd.read_sql("SELECT * FROM B19013;", conn)
B19013_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19013_001E,70341,Estimate!!Median household income in the past ...
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19013_001E,64844,Estimate!!Median household income in the past ...
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19013_001E,64688,Estimate!!Median household income in the past ...
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19013_001E,63864,Estimate!!Median household income in the past ...
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19013_001E,62829,Estimate!!Median household income in the past ...
5,5,1400000US47037010202,"Census Tract 102.02, Davidson County, Tennessee",10202,37,47,B19013_001E,78750,Estimate!!Median household income in the past ...
6,6,1400000US47037010301,"Census Tract 103.01, Davidson County, Tennessee",10301,37,47,B19013_001E,51918,Estimate!!Median household income in the past ...
7,7,1400000US47037010302,"Census Tract 103.02, Davidson County, Tennessee",10302,37,47,B19013_001E,47449,Estimate!!Median household income in the past ...
8,8,1400000US47037010303,"Census Tract 103.03, Davidson County, Tennessee",10303,37,47,B19013_001E,53143,Estimate!!Median household income in the past ...
9,9,1400000US47037010401,"Census Tract 104.01, Davidson County, Tennessee",10401,37,47,B19013_001E,48521,Estimate!!Median household income in the past ...
10,10,1400000US47037010402,"Census Tract 104.02, Davidson County, Tennessee",10402,37,47,B19013_001E,31827,Estimate!!Median household income in the past ...
11,11,1400000US47037010501,"Census Tract 105.01, Davidson County, Tennessee",10501,37,47,B19013_001E,60990,Estimate!!Median household income in the past ...
12,12,1400000US47037010502,"Census Tract 105.02, Davidson County, Tennessee",10502,37,47,B19013_001E,60307,Estimate!!Median household income in the past ...
13,13,1400000US47037010601,"Census Tract 106.01, Davidson County, Tennessee",10601,37,47,B19013_001E,63490,Estimate!!Median household income in the past ...
14,14,1400000US47037010602,"Census Tract 106.02, Davidson County, Tennessee",10602,37,47,B19013_001E,49242,Estimate!!Median household income in the past ...
15,15,1400000US47037010701,"Census Tract 107.01, Davidson County, Tennessee",10701,37,47,B19013_001E,43255,Estimate!!Median household income in the past ...
16,16,1400000US47037010702,"Census Tract 107.02, Davidson County, Tennessee",10702,37,47,B19013_001E,26403,Estimate!!Median household income in the past ...
17,17,1400000US47037010801,"Census Tract 108.01, Davidson County, Tennessee",10801,37,47,B19013_001E,52991,Estimate!!Median household income in the past ...
18,18,1400000US47037010802,"Census Tract 108.02, Davidson County, Tennessee",10802,37,47,B19013_001E,44913,Estimate!!Median household income in the past ...
19,19,1400000US47037010901,"Census Tract 109.01, Davidson County, Tennessee",10901,37,47,B19013_001E,61250,Estimate!!Median household income in the past ...
20,20,1400000US47037010903,"Census Tract 109.03, Davidson County, Tennessee",10903,37,47,B19013_001E,39473,Estimate!!Median household income in the past ...
21,21,1400000US47037010904,"Census Tract 109.04, Davidson County, Tennessee",10904,37,47,B19013_001E,23514,Estimate!!Median household income in the past ...
22,22,1400000US47037011001,"Census Tract 110.01, Davidson County, Tennessee",11001,37,47,B19013_001E,43107,Estimate!!Median household income in the past ...
23,23,1400000US47037011002,"Census Tract 110.02, Davidson County, Tennessee",11002,37,47,B19013_001E,49926,Estimate!!Median household income in the past ...
24,24,1400000US47037011100,"Census Tract 111, Davidson County, Tennessee",11100,37,47,B19013_001E,85978,Estimate!!Median household income in the past ...
25,25,1400000US47037011200,"Census Tract 112, Davidson County, Tennessee",11200,37,47,B19013_001E,67188,Estimate!!Median household income in the past ...
26,26,1400000US47037011300,"Census Tract 113, Davidson County, Tennessee",11300,37,47,B19013_001E,45644,Estimate!!Median household income in the past ...
27,27,1400000US47037011400,"Census Tract 114, Davidson County, Tennessee",11400,37,47,B19013_001E,50857,Estimate!!Median household income in the past ...
28,28,1400000US47037011500,"Census Tract 115, Davidson County, Tennessee",11500,37,47,B19013_001E,62526,Estimate!!Median household income in the past ...
29,29,1400000US47037011600,"Census Tract 116, Davidson County, Tennessee",11600,37,47,B19013_001E,66008,Estimate!!Median household income in the past ...
30,30,1400000US47037011700,"Census Tract 117, Davidson County, Tennessee",11700,37,47,B19013_001E,68889,Estimate!!Median household income in the past ...
31,31,1400000US47037011800,"Census Tract 118, Davidson County, Tennessee",11800,37,47,B19013_001E,43750,Estimate!!Median household income in the past ...
32,32,1400000US47037011900,"Census Tract 119, Davidson County, Tennessee",11900,37,47,B19013_001E,51168,Estimate!!Median household income in the past ...
33,33,1400000US47037012100,"Census Tract 121, Davidson County, Tennessee",12100,37,47,B19013_001E,116800,Estimate!!Median household income in the past ...
34,34,1400000US47037012200,"Census Tract 122, Davidson County, Tennessee",12200,37,47,B19013_001E,91643,Estimate!!Median household income in the past ...
35,35,1400000US47037012600,"Census Tract 126, Davidson County, Tennessee",12600,37,47,B19013_001E,50764,Estimate!!Median household income in the past ...
36,36,1400000US47037012701,"Census Tract 127.01, Davidson County, Tennessee",12701,37,47,B19013_001E,33149,Estimate!!Median household income in the past ...
37,37,1400000US47037012702,"Census Tract 127.02, Davidson County, Tennessee",12702,37,47,B19013_001E,55714,Estimate!!Median household income in the past ...
38,38,1400000US47037012801,"Census Tract 128.01, Davidson County, Tennessee",12801,37,47,B19013_001E,36570,Estimate!!Median household income in the past ...
39,39,1400000US47037012802,"Census Tract 128.02, Davidson County, Tennessee",12802,37,47,B19013_001E,42500,Estimate!!Median household income in the past ...
40,40,1400000US47037013000,"Census Tract 130, Davidson County, Tennessee",13000,37,47,B19013_001E,-666666666,Estimate!!Median household income in the past ...
41,41,1400000US47037013100,"Census Tract 131, Davidson County, Tennessee",13100,37,47,B19013_001E,63529,Estimate!!Median household income in the past ...
42,42,1400000US47037013201,"Census Tract 132.01, Davidson County, Tennessee",13201,37,47,B19013_001E,52478,Estimate!!Median household income in the past ...
43,43,1400000US47037013202,"Census Tract 132.02, Davidson County, Tennessee",13202,37,47,B19013_001E,64583,Estimate!!Median household income in the past ...
44,44,1400000US47037013300,"Census Tract 133, Davidson County, Tennessee",13300,37,47,B19013_001E,69006,Estimate!!Median household income in the past ...
45,45,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19013_001E,86010,Estimate!!Median household income in the past ...
46,46,1400000US47037013500,"Census Tract 135, Davidson County, Tennessee",13500,37,47,B19013_001E,70167,Estimate!!Median household income in the past ...
47,47,1400000US47037013601,"Census Tract 136.01, Davidson County, Tennessee",13601,37,47,B19013_001E,26946,Estimate!!Median household income in the past ...
48,48,1400000US47037013602,"Census Tract 136.02, Davidson County, Tennessee",13602,37,47,B19013_001E,-666666666,Estimate!!Median household income in the past ...
49,49,1400000US47037013700,"Census Tract 137, Davidson County, Tennessee",13700,37,47,B19013_001E,32413,Estimate!!Median household income in the past ...
50,50,1400000US47037013800,"Census Tract 138, Davidson County, Tennessee",13800,37,47,B19013_001E,37679,Estimate!!Median household income in the past ...
51,51,1400000US47037013900,"Census Tract 139, Davidson County, Tennessee",13900,37,47,B19013_001E,29643,Estimate!!Median household income in the past ...
52,52,1400000US47037014200,"Census Tract 142, Davidson County, Tennessee",14200,37,47,B19013_001E,23799,Estimate!!Median household income in the past ...
53,53,1400000US47037014300,"Census Tract 143, Davidson County, Tennessee",14300,37,47,B19013_001E,35313,Estimate!!Median household income in the past ...
54,54,1400000US47037014400,"Census Tract 144, Davidson County, Tennessee",14400,37,47,B19013_001E,42609,Estimate!!Median household income in the past ...
55,55,1400000US47037014800,"Census Tract 148, Davidson County, Tennessee",14800,37,47,B19013_001E,15730,Estimate!!Median household income in the past ...
56,56,1400000US47037015100,"Census Tract 151, Davidson County, Tennessee",15100,37,47,B19013_001E,60710,Estimate!!Median household income in the past ...
57,57,1400000US47037015200,"Census Tract 152, Davidson County, Tennessee",15200,37,47,B19013_001E,68787,Estimate!!Median household income in the past ...
58,58,1400000US47037015300,"Census Tract 153, Davidson County, Tennessee",15300,37,47,B19013_001E,68532,Estimate!!Median household income in the past ...
59,59,1400000US47037015401,"Census Tract 154.01, Davidson County, Tennessee",15401,37,47,B19013_001E,71336,Estimate!!Median household income in the past ...
60,60,1400000US47037015402,"Census Tract 154.02, Davidson County, Tennessee",15402,37,47,B19013_001E,69740,Estimate!!Median household income in the past ...
61,61,1400000US47037015404,"Census Tract 154.04, Davidson County, Tennessee",15404,37,47,B19013_001E,46686,Estimate!!Median household income in the past ...
62,62,1400000US47037015405,"Census Tract 154.05, Davidson County, Tennessee",15405,37,47,B19013_001E,62143,Estimate!!Median household income in the past ...
63,63,1400000US47037015501,"Census Tract 155.01, Davidson County, Tennessee",15501,37,47,B19013_001E,56075,Estimate!!Median household income in the past ...
64,64,1400000US47037015502,"Census Tract 155.02, Davidson County, Tennessee",15502,37,47,B19013_001E,46786,Estimate!!Median household income in the past ...
65,65,1400000US47037015609,"Census Tract 156.09, Davidson County, Tennessee",15609,37,47,B19013_001E,64934,Estimate!!Median household income in the past ...
66,66,1400000US47037015610,"Census Tract 156.10, Davidson County, Tennessee",15610,37,47,B19013_001E,72235,Estimate!!Median household income in the past ...
67,67,1400000US47037015612,"Census Tract 156.12, Davidson County, Tennessee",15612,37,47,B19013_001E,56286,Estimate!!Median household income in the past ...
68,68,1400000US47037015613,"Census Tract 156.13, Davidson County, Tennessee",15613,37,47,B19013_001E,37656,Estimate!!Median household income in the past ...
69,69,1400000US47037015614,"Census Tract 156.14, Davidson County, Tennessee",15614,37,47,B19013_001E,59493,Estimate!!Median household income in the past ...
70,70,1400000US47037015615,"Census Tract 156.15, Davidson County, Tennessee",15615,37,47,B19013_001E,45552,Estimate!!Median household income in the past ...
71,71,1400000US47037015617,"Census Tract 156.17, Davidson County, Tennessee",15617,37,47,B19013_001E,61397,Estimate!!Median household income in the past ...
72,72,1400000US47037015618,"Census Tract 156.18, Davidson County, Tennessee",15618,37,47,B19013_001E,53969,Estimate!!Median household income in the past ...
73,73,1400000US47037015619,"Census Tract 156.19, Davidson County, Tennessee",15619,37,47,B19013_001E,74335,Estimate!!Median household income in the past ...
74,74,1400000US47037015620,"Census Tract 156.20, Davidson County, Tennessee",15620,37,47,B19013_001E,54149,Estimate!!Median household income in the past ...
75,75,1400000US47037015622,"Census Tract 156.22, Davidson County, Tennessee",15622,37,47,B19013_001E,88727,Estimate!!Median household income in the past ...
76,76,1400000US47037015623,"Census Tract 156.23, Davidson County, Tennessee",15623,37,47,B19013_001E,42734,Estimate!!Median household income in the past ...
77,77,1400000US47037015624,"Census Tract 156.24, Davidson County, Tennessee",15624,37,47,B19013_001E,58850,Estimate!!Median household income in the past ...
78,78,1400000US47037015625,"Census Tract 156.25, Davidson County, Tennessee",15625,37,47,B19013_001E,62546,Estimate!!Median household income in the past ...
79,79,1400000US47037015626,"Census Tract 156.26, Davidson County, Tennessee",15626,37,47,B19013_001E,50264,Estimate!!Median household income in the past ...
80,80,1400000US47037015627,"Census Tract 156.27, Davidson County, Tennessee",15627,37,47,B19013_001E,60000,Estimate!!Median household income in the past ...
81,81,1400000US47037015628,"Census Tract 156.28, Davidson County, Tennessee",15628,37,47,B19013_001E,50880,Estimate!!Median household income in the past ...
82,82,1400000US47037015629,"Census Tract 156.29, Davidson County, Tennessee",15629,37,47,B19013_001E,54100,Estimate!!Median household income in the past ...
83,83,1400000US47037015630,"Census Tract 156.30, Davidson County, Tennessee",15630,37,47,B19013_001E,57172,Estimate!!Median household income in the past ...
84,84,1400000US47037015631,"Census Tract 156.31, Davidson County, Tennessee",15631,37,47,B19013_001E,75579,Estimate!!Median household income in the past ...
85,85,1400000US47037015700,"Census Tract 157, Davidson County, Tennessee",15700,37,47,B19013_001E,55938,Estimate!!Median household income in the past ...
86,86,1400000US47037015802,"Census Tract 158.02, Davidson County, Tennessee",15802,37,47,B19013_001E,37449,Estimate!!Median household income in the past ...
87,87,1400000US47037015803,"Census Tract 158.03, Davidson County, Tennessee",15803,37,47,B19013_001E,37846,Estimate!!Median household income in the past ...
88,88,1400000US47037015804,"Census Tract 158.04, Davidson County, Tennessee",15804,37,47,B19013_001E,45129,Estimate!!Median household income in the past ...
89,89,1400000US47037015900,"Census Tract 159, Davidson County, Tennessee",15900,37,47,B19013_001E,18520,Estimate!!Median household income in the past ...
90,90,1400000US47037016000,"Census Tract 160, Davidson County, Tennessee",16000,37,47,B19013_001E,37083,Estimate!!Median household income in the past ...
91,91,1400000US47037016100,"Census Tract 161, Davidson County, Tennessee",16100,37,47,B19013_001E,48221,Estimate!!Median household income in the past ...
92,92,1400000US47037016200,"Census Tract 162, Davidson County, Tennessee",16200,37,47,B19013_001E,27174,Estimate!!Median household income in the past ...
93,93,1400000US47037016300,"Census Tract 163, Davidson County, Tennessee",16300,37,47,B19013_001E,50710,Estimate!!Median household income in the past ...
94,94,1400000US47037016400,"Census Tract 164, Davidson County, Tennessee",16400,37,47,B19013_001E,41048,Estimate!!Median household income in the past ...
95,95,1400000US47037016500,"Census Tract 165, Davidson County, Tennessee",16500,37,47,B19013_001E,54491,Estimate!!Median household income in the past ...
96,96,1400000US47037016600,"Census Tract 166, Davidson County, Tennessee",16600,37,47,B19013_001E,55263,Estimate!!Median household income in the past ...
97,97,1400000US47037016700,"Census Tract 167, Davidson County, Tennessee",16700,37,47,B19013_001E,113875,Estimate!!Median household income in the past ...
98,98,1400000US47037016800,"Census Tract 168, Davidson County, Tennessee",16800,37,47,B19013_001E,58810,Estimate!!Median household income in the past ...
99,99,1400000US47037016900,"Census Tract 169, Davidson County, Tennessee",16900,37,47,B19013_001E,98875,Estimate!!Median household income in the past ...
100,100,1400000US47037017000,"Census Tract 170, Davidson County, Tennessee",17000,37,47,B19013_001E,88958,Estimate!!Median household income in the past ...
101,101,1400000US47037017100,"Census Tract 171, Davidson County, Tennessee",17100,37,47,B19013_001E,81524,Estimate!!Median household income in the past ...
102,102,1400000US47037017200,"Census Tract 172, Davidson County, Tennessee",17200,37,47,B19013_001E,53148,Estimate!!Median household income in the past ...
103,103,1400000US47037017300,"Census Tract 173, Davidson County, Tennessee",17300,37,47,B19013_001E,55625,Estimate!!Median household income in the past ...
104,104,1400000US47037017401,"Census Tract 174.01, Davidson County, Tennessee",17401,37,47,B19013_001E,47500,Estimate!!Median household income in the past ...
105,105,1400000US47037017402,"Census Tract 174.02, Davidson County, Tennessee",17402,37,47,B19013_001E,41354,Estimate!!Median household income in the past ...
106,106,1400000US47037017500,"Census Tract 175, Davidson County, Tennessee",17500,37,47,B19013_001E,36283,Estimate!!Median household income in the past ...
107,107,1400000US47037017701,"Census Tract 177.01, Davidson County, Tennessee",17701,37,47,B19013_001E,134786,Estimate!!Median household income in the past ...
108,108,1400000US47037017702,"Census Tract 177.02, Davidson County, Tennessee",17702,37,47,B19013_001E,107813,Estimate!!Median household income in the past ...
109,109,1400000US47037017800,"Census Tract 178, Davidson County, Tennessee",17800,37,47,B19013_001E,85189,Estimate!!Median household income in the past ...
110,110,1400000US47037017901,"Census Tract 179.01, Davidson County, Tennessee",17901,37,47,B19013_001E,98843,Estimate!!Median household income in the past ...
111,111,1400000US47037017902,"Census Tract 179.02, Davidson County, Tennessee",17902,37,47,B19013_001E,128141,Estimate!!Median household income in the past ...
112,112,1400000US47037018000,"Census Tract 180, Davidson County, Tennessee",18000,37,47,B19013_001E,111161,Estimate!!Median household income in the past ...
113,113,1400000US47037018101,"Census Tract 181.01, Davidson County, Tennessee",18101,37,47,B19013_001E,38365,Estimate!!Median household income in the past ...
114,114,1400000US47037018102,"Census Tract 181.02, Davidson County, Tennessee",18102,37,47,B19013_001E,81724,Estimate!!Median household income in the past ...
115,115,1400000US47037018201,"Census Tract 182.01, Davidson County, Tennessee",18201,37,47,B19013_001E,106413,Estimate!!Median household income in the past ...
116,116,1400000US47037018202,"Census Tract 182.02, Davidson County, Tennessee",18202,37,47,B19013_001E,57500,Estimate!!Median household income in the past ...
117,117,1400000US47037018203,"Census Tract 182.03, Davidson County, Tennessee",18203,37,47,B19013_001E,193542,Estimate!!Median household income in the past ...
118,118,1400000US47037018301,"Census Tract 183.01, Davidson County, Tennessee",18301,37,47,B19013_001E,87591,Estimate!!Median household income in the past ...
119,119,1400000US47037018302,"Census Tract 183.02, Davidson County, Tennessee",18302,37,47,B19013_001E,96576,Estimate!!Median household income in the past ...
120,120,1400000US47037018401,"Census Tract 184.01, Davidson County, Tennessee",18401,37,47,B19013_001E,60518,Estimate!!Median household income in the past ...
121,121,1400000US47037018404,"Census Tract 184.04, Davidson County, Tennessee",18404,37,47,B19013_001E,74800,Estimate!!Median household income in the past ...
122,122,1400000US47037018405,"Census Tract 184.05, Davidson County, Tennessee",18405,37,47,B19013_001E,98869,Estimate!!Median household income in the past ...
123,123,1400000US47037018407,"Census Tract 184.07, Davidson County, Tennessee",18407,37,47,B19013_001E,105917,Estimate!!Median household income in the past ...
124,124,1400000US47037018408,"Census Tract 184.08, Davidson County, Tennessee",18408,37,47,B19013_001E,118214,Estimate!!Median household income in the past ...
125,125,1400000US47037018409,"Census Tract 184.09, Davidson County, Tennessee",18409,37,47,B19013_001E,65887,Estimate!!Median household income in the past ...
126,126,1400000US47037018410,"Census Tract 184.10, Davidson County, Tennessee",18410,37,47,B19013_001E,58028,Estimate!!Median household income in the past ...

In [28]:
cur.execute("SELECT * FROM 'B19301' LIMIT 5;")
B19301 = (cur.fetchall())
B19301_df = pd.read_sql("SELECT * FROM B19301;", conn)
B19301_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B19301_001E,33867,Estimate!!Per capita income in the past 12 mon...
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B19301_001E,38506,Estimate!!Per capita income in the past 12 mon...
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B19301_001E,35122,Estimate!!Per capita income in the past 12 mon...
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B19301_001E,30843,Estimate!!Per capita income in the past 12 mon...
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B19301_001E,34567,Estimate!!Per capita income in the past 12 mon...
5,5,1400000US47037010202,"Census Tract 102.02, Davidson County, Tennessee",10202,37,47,B19301_001E,37768,Estimate!!Per capita income in the past 12 mon...
6,6,1400000US47037010301,"Census Tract 103.01, Davidson County, Tennessee",10301,37,47,B19301_001E,25807,Estimate!!Per capita income in the past 12 mon...
7,7,1400000US47037010302,"Census Tract 103.02, Davidson County, Tennessee",10302,37,47,B19301_001E,32193,Estimate!!Per capita income in the past 12 mon...
8,8,1400000US47037010303,"Census Tract 103.03, Davidson County, Tennessee",10303,37,47,B19301_001E,28247,Estimate!!Per capita income in the past 12 mon...
9,9,1400000US47037010401,"Census Tract 104.01, Davidson County, Tennessee",10401,37,47,B19301_001E,27062,Estimate!!Per capita income in the past 12 mon...
10,10,1400000US47037010402,"Census Tract 104.02, Davidson County, Tennessee",10402,37,47,B19301_001E,15704,Estimate!!Per capita income in the past 12 mon...
11,11,1400000US47037010501,"Census Tract 105.01, Davidson County, Tennessee",10501,37,47,B19301_001E,30606,Estimate!!Per capita income in the past 12 mon...
12,12,1400000US47037010502,"Census Tract 105.02, Davidson County, Tennessee",10502,37,47,B19301_001E,25070,Estimate!!Per capita income in the past 12 mon...
13,13,1400000US47037010601,"Census Tract 106.01, Davidson County, Tennessee",10601,37,47,B19301_001E,28233,Estimate!!Per capita income in the past 12 mon...
14,14,1400000US47037010602,"Census Tract 106.02, Davidson County, Tennessee",10602,37,47,B19301_001E,21687,Estimate!!Per capita income in the past 12 mon...
15,15,1400000US47037010701,"Census Tract 107.01, Davidson County, Tennessee",10701,37,47,B19301_001E,24607,Estimate!!Per capita income in the past 12 mon...
16,16,1400000US47037010702,"Census Tract 107.02, Davidson County, Tennessee",10702,37,47,B19301_001E,29224,Estimate!!Per capita income in the past 12 mon...
17,17,1400000US47037010801,"Census Tract 108.01, Davidson County, Tennessee",10801,37,47,B19301_001E,27037,Estimate!!Per capita income in the past 12 mon...
18,18,1400000US47037010802,"Census Tract 108.02, Davidson County, Tennessee",10802,37,47,B19301_001E,28574,Estimate!!Per capita income in the past 12 mon...
19,19,1400000US47037010901,"Census Tract 109.01, Davidson County, Tennessee",10901,37,47,B19301_001E,27766,Estimate!!Per capita income in the past 12 mon...
20,20,1400000US47037010903,"Census Tract 109.03, Davidson County, Tennessee",10903,37,47,B19301_001E,18827,Estimate!!Per capita income in the past 12 mon...
21,21,1400000US47037010904,"Census Tract 109.04, Davidson County, Tennessee",10904,37,47,B19301_001E,18650,Estimate!!Per capita income in the past 12 mon...
22,22,1400000US47037011001,"Census Tract 110.01, Davidson County, Tennessee",11001,37,47,B19301_001E,17901,Estimate!!Per capita income in the past 12 mon...
23,23,1400000US47037011002,"Census Tract 110.02, Davidson County, Tennessee",11002,37,47,B19301_001E,25866,Estimate!!Per capita income in the past 12 mon...
24,24,1400000US47037011100,"Census Tract 111, Davidson County, Tennessee",11100,37,47,B19301_001E,45097,Estimate!!Per capita income in the past 12 mon...
25,25,1400000US47037011200,"Census Tract 112, Davidson County, Tennessee",11200,37,47,B19301_001E,47635,Estimate!!Per capita income in the past 12 mon...
26,26,1400000US47037011300,"Census Tract 113, Davidson County, Tennessee",11300,37,47,B19301_001E,22732,Estimate!!Per capita income in the past 12 mon...
27,27,1400000US47037011400,"Census Tract 114, Davidson County, Tennessee",11400,37,47,B19301_001E,31911,Estimate!!Per capita income in the past 12 mon...
28,28,1400000US47037011500,"Census Tract 115, Davidson County, Tennessee",11500,37,47,B19301_001E,38198,Estimate!!Per capita income in the past 12 mon...
29,29,1400000US47037011600,"Census Tract 116, Davidson County, Tennessee",11600,37,47,B19301_001E,35905,Estimate!!Per capita income in the past 12 mon...
30,30,1400000US47037011700,"Census Tract 117, Davidson County, Tennessee",11700,37,47,B19301_001E,35341,Estimate!!Per capita income in the past 12 mon...
31,31,1400000US47037011800,"Census Tract 118, Davidson County, Tennessee",11800,37,47,B19301_001E,24978,Estimate!!Per capita income in the past 12 mon...
32,32,1400000US47037011900,"Census Tract 119, Davidson County, Tennessee",11900,37,47,B19301_001E,32316,Estimate!!Per capita income in the past 12 mon...
33,33,1400000US47037012100,"Census Tract 121, Davidson County, Tennessee",12100,37,47,B19301_001E,60630,Estimate!!Per capita income in the past 12 mon...
34,34,1400000US47037012200,"Census Tract 122, Davidson County, Tennessee",12200,37,47,B19301_001E,54264,Estimate!!Per capita income in the past 12 mon...
35,35,1400000US47037012600,"Census Tract 126, Davidson County, Tennessee",12600,37,47,B19301_001E,24715,Estimate!!Per capita income in the past 12 mon...
36,36,1400000US47037012701,"Census Tract 127.01, Davidson County, Tennessee",12701,37,47,B19301_001E,19166,Estimate!!Per capita income in the past 12 mon...
37,37,1400000US47037012702,"Census Tract 127.02, Davidson County, Tennessee",12702,37,47,B19301_001E,23918,Estimate!!Per capita income in the past 12 mon...
38,38,1400000US47037012801,"Census Tract 128.01, Davidson County, Tennessee",12801,37,47,B19301_001E,21184,Estimate!!Per capita income in the past 12 mon...
39,39,1400000US47037012802,"Census Tract 128.02, Davidson County, Tennessee",12802,37,47,B19301_001E,18896,Estimate!!Per capita income in the past 12 mon...
40,40,1400000US47037013000,"Census Tract 130, Davidson County, Tennessee",13000,37,47,B19301_001E,7544,Estimate!!Per capita income in the past 12 mon...
41,41,1400000US47037013100,"Census Tract 131, Davidson County, Tennessee",13100,37,47,B19301_001E,33133,Estimate!!Per capita income in the past 12 mon...
42,42,1400000US47037013201,"Census Tract 132.01, Davidson County, Tennessee",13201,37,47,B19301_001E,30453,Estimate!!Per capita income in the past 12 mon...
43,43,1400000US47037013202,"Census Tract 132.02, Davidson County, Tennessee",13202,37,47,B19301_001E,31809,Estimate!!Per capita income in the past 12 mon...
44,44,1400000US47037013300,"Census Tract 133, Davidson County, Tennessee",13300,37,47,B19301_001E,39344,Estimate!!Per capita income in the past 12 mon...
45,45,1400000US47037013400,"Census Tract 134, Davidson County, Tennessee",13400,37,47,B19301_001E,51496,Estimate!!Per capita income in the past 12 mon...
46,46,1400000US47037013500,"Census Tract 135, Davidson County, Tennessee",13500,37,47,B19301_001E,44562,Estimate!!Per capita income in the past 12 mon...
47,47,1400000US47037013601,"Census Tract 136.01, Davidson County, Tennessee",13601,37,47,B19301_001E,18225,Estimate!!Per capita income in the past 12 mon...
48,48,1400000US47037013602,"Census Tract 136.02, Davidson County, Tennessee",13602,37,47,B19301_001E,6811,Estimate!!Per capita income in the past 12 mon...
49,49,1400000US47037013700,"Census Tract 137, Davidson County, Tennessee",13700,37,47,B19301_001E,28928,Estimate!!Per capita income in the past 12 mon...
50,50,1400000US47037013800,"Census Tract 138, Davidson County, Tennessee",13800,37,47,B19301_001E,17724,Estimate!!Per capita income in the past 12 mon...
51,51,1400000US47037013900,"Census Tract 139, Davidson County, Tennessee",13900,37,47,B19301_001E,17295,Estimate!!Per capita income in the past 12 mon...
52,52,1400000US47037014200,"Census Tract 142, Davidson County, Tennessee",14200,37,47,B19301_001E,13342,Estimate!!Per capita income in the past 12 mon...
53,53,1400000US47037014300,"Census Tract 143, Davidson County, Tennessee",14300,37,47,B19301_001E,22153,Estimate!!Per capita income in the past 12 mon...
54,54,1400000US47037014400,"Census Tract 144, Davidson County, Tennessee",14400,37,47,B19301_001E,26928,Estimate!!Per capita income in the past 12 mon...
55,55,1400000US47037014800,"Census Tract 148, Davidson County, Tennessee",14800,37,47,B19301_001E,9126,Estimate!!Per capita income in the past 12 mon...
56,56,1400000US47037015100,"Census Tract 151, Davidson County, Tennessee",15100,37,47,B19301_001E,33650,Estimate!!Per capita income in the past 12 mon...
57,57,1400000US47037015200,"Census Tract 152, Davidson County, Tennessee",15200,37,47,B19301_001E,33465,Estimate!!Per capita income in the past 12 mon...
58,58,1400000US47037015300,"Census Tract 153, Davidson County, Tennessee",15300,37,47,B19301_001E,35826,Estimate!!Per capita income in the past 12 mon...
59,59,1400000US47037015401,"Census Tract 154.01, Davidson County, Tennessee",15401,37,47,B19301_001E,40244,Estimate!!Per capita income in the past 12 mon...
60,60,1400000US47037015402,"Census Tract 154.02, Davidson County, Tennessee",15402,37,47,B19301_001E,35137,Estimate!!Per capita income in the past 12 mon...
61,61,1400000US47037015404,"Census Tract 154.04, Davidson County, Tennessee",15404,37,47,B19301_001E,27476,Estimate!!Per capita income in the past 12 mon...
62,62,1400000US47037015405,"Census Tract 154.05, Davidson County, Tennessee",15405,37,47,B19301_001E,28936,Estimate!!Per capita income in the past 12 mon...
63,63,1400000US47037015501,"Census Tract 155.01, Davidson County, Tennessee",15501,37,47,B19301_001E,32187,Estimate!!Per capita income in the past 12 mon...
64,64,1400000US47037015502,"Census Tract 155.02, Davidson County, Tennessee",15502,37,47,B19301_001E,32418,Estimate!!Per capita income in the past 12 mon...
65,65,1400000US47037015609,"Census Tract 156.09, Davidson County, Tennessee",15609,37,47,B19301_001E,39677,Estimate!!Per capita income in the past 12 mon...
66,66,1400000US47037015610,"Census Tract 156.10, Davidson County, Tennessee",15610,37,47,B19301_001E,41257,Estimate!!Per capita income in the past 12 mon...
67,67,1400000US47037015612,"Census Tract 156.12, Davidson County, Tennessee",15612,37,47,B19301_001E,32724,Estimate!!Per capita income in the past 12 mon...
68,68,1400000US47037015613,"Census Tract 156.13, Davidson County, Tennessee",15613,37,47,B19301_001E,17202,Estimate!!Per capita income in the past 12 mon...
69,69,1400000US47037015614,"Census Tract 156.14, Davidson County, Tennessee",15614,37,47,B19301_001E,28021,Estimate!!Per capita income in the past 12 mon...
70,70,1400000US47037015615,"Census Tract 156.15, Davidson County, Tennessee",15615,37,47,B19301_001E,14675,Estimate!!Per capita income in the past 12 mon...
71,71,1400000US47037015617,"Census Tract 156.17, Davidson County, Tennessee",15617,37,47,B19301_001E,31558,Estimate!!Per capita income in the past 12 mon...
72,72,1400000US47037015618,"Census Tract 156.18, Davidson County, Tennessee",15618,37,47,B19301_001E,27837,Estimate!!Per capita income in the past 12 mon...
73,73,1400000US47037015619,"Census Tract 156.19, Davidson County, Tennessee",15619,37,47,B19301_001E,29975,Estimate!!Per capita income in the past 12 mon...
74,74,1400000US47037015620,"Census Tract 156.20, Davidson County, Tennessee",15620,37,47,B19301_001E,24138,Estimate!!Per capita income in the past 12 mon...
75,75,1400000US47037015622,"Census Tract 156.22, Davidson County, Tennessee",15622,37,47,B19301_001E,39425,Estimate!!Per capita income in the past 12 mon...
76,76,1400000US47037015623,"Census Tract 156.23, Davidson County, Tennessee",15623,37,47,B19301_001E,27953,Estimate!!Per capita income in the past 12 mon...
77,77,1400000US47037015624,"Census Tract 156.24, Davidson County, Tennessee",15624,37,47,B19301_001E,38242,Estimate!!Per capita income in the past 12 mon...
78,78,1400000US47037015625,"Census Tract 156.25, Davidson County, Tennessee",15625,37,47,B19301_001E,31192,Estimate!!Per capita income in the past 12 mon...
79,79,1400000US47037015626,"Census Tract 156.26, Davidson County, Tennessee",15626,37,47,B19301_001E,25208,Estimate!!Per capita income in the past 12 mon...
80,80,1400000US47037015627,"Census Tract 156.27, Davidson County, Tennessee",15627,37,47,B19301_001E,23106,Estimate!!Per capita income in the past 12 mon...
81,81,1400000US47037015628,"Census Tract 156.28, Davidson County, Tennessee",15628,37,47,B19301_001E,26808,Estimate!!Per capita income in the past 12 mon...
82,82,1400000US47037015629,"Census Tract 156.29, Davidson County, Tennessee",15629,37,47,B19301_001E,27633,Estimate!!Per capita income in the past 12 mon...
83,83,1400000US47037015630,"Census Tract 156.30, Davidson County, Tennessee",15630,37,47,B19301_001E,25166,Estimate!!Per capita income in the past 12 mon...
84,84,1400000US47037015631,"Census Tract 156.31, Davidson County, Tennessee",15631,37,47,B19301_001E,25324,Estimate!!Per capita income in the past 12 mon...
85,85,1400000US47037015700,"Census Tract 157, Davidson County, Tennessee",15700,37,47,B19301_001E,23387,Estimate!!Per capita income in the past 12 mon...
86,86,1400000US47037015802,"Census Tract 158.02, Davidson County, Tennessee",15802,37,47,B19301_001E,22563,Estimate!!Per capita income in the past 12 mon...
87,87,1400000US47037015803,"Census Tract 158.03, Davidson County, Tennessee",15803,37,47,B19301_001E,15977,Estimate!!Per capita income in the past 12 mon...
88,88,1400000US47037015804,"Census Tract 158.04, Davidson County, Tennessee",15804,37,47,B19301_001E,23616,Estimate!!Per capita income in the past 12 mon...
89,89,1400000US47037015900,"Census Tract 159, Davidson County, Tennessee",15900,37,47,B19301_001E,14407,Estimate!!Per capita income in the past 12 mon...
90,90,1400000US47037016000,"Census Tract 160, Davidson County, Tennessee",16000,37,47,B19301_001E,26672,Estimate!!Per capita income in the past 12 mon...
91,91,1400000US47037016100,"Census Tract 161, Davidson County, Tennessee",16100,37,47,B19301_001E,34234,Estimate!!Per capita income in the past 12 mon...
92,92,1400000US47037016200,"Census Tract 162, Davidson County, Tennessee",16200,37,47,B19301_001E,31807,Estimate!!Per capita income in the past 12 mon...
93,93,1400000US47037016300,"Census Tract 163, Davidson County, Tennessee",16300,37,47,B19301_001E,32242,Estimate!!Per capita income in the past 12 mon...
94,94,1400000US47037016400,"Census Tract 164, Davidson County, Tennessee",16400,37,47,B19301_001E,22225,Estimate!!Per capita income in the past 12 mon...
95,95,1400000US47037016500,"Census Tract 165, Davidson County, Tennessee",16500,37,47,B19301_001E,15944,Estimate!!Per capita income in the past 12 mon...
96,96,1400000US47037016600,"Census Tract 166, Davidson County, Tennessee",16600,37,47,B19301_001E,48604,Estimate!!Per capita income in the past 12 mon...
97,97,1400000US47037016700,"Census Tract 167, Davidson County, Tennessee",16700,37,47,B19301_001E,91049,Estimate!!Per capita income in the past 12 mon...
98,98,1400000US47037016800,"Census Tract 168, Davidson County, Tennessee",16800,37,47,B19301_001E,55579,Estimate!!Per capita income in the past 12 mon...
99,99,1400000US47037016900,"Census Tract 169, Davidson County, Tennessee",16900,37,47,B19301_001E,72013,Estimate!!Per capita income in the past 12 mon...
100,100,1400000US47037017000,"Census Tract 170, Davidson County, Tennessee",17000,37,47,B19301_001E,43333,Estimate!!Per capita income in the past 12 mon...
101,101,1400000US47037017100,"Census Tract 171, Davidson County, Tennessee",17100,37,47,B19301_001E,66067,Estimate!!Per capita income in the past 12 mon...
102,102,1400000US47037017200,"Census Tract 172, Davidson County, Tennessee",17200,37,47,B19301_001E,29670,Estimate!!Per capita income in the past 12 mon...
103,103,1400000US47037017300,"Census Tract 173, Davidson County, Tennessee",17300,37,47,B19301_001E,25303,Estimate!!Per capita income in the past 12 mon...
104,104,1400000US47037017401,"Census Tract 174.01, Davidson County, Tennessee",17401,37,47,B19301_001E,23609,Estimate!!Per capita income in the past 12 mon...
105,105,1400000US47037017402,"Census Tract 174.02, Davidson County, Tennessee",17402,37,47,B19301_001E,25902,Estimate!!Per capita income in the past 12 mon...
106,106,1400000US47037017500,"Census Tract 175, Davidson County, Tennessee",17500,37,47,B19301_001E,24249,Estimate!!Per capita income in the past 12 mon...
107,107,1400000US47037017701,"Census Tract 177.01, Davidson County, Tennessee",17701,37,47,B19301_001E,67719,Estimate!!Per capita income in the past 12 mon...
108,108,1400000US47037017702,"Census Tract 177.02, Davidson County, Tennessee",17702,37,47,B19301_001E,49395,Estimate!!Per capita income in the past 12 mon...
109,109,1400000US47037017800,"Census Tract 178, Davidson County, Tennessee",17800,37,47,B19301_001E,55304,Estimate!!Per capita income in the past 12 mon...
110,110,1400000US47037017901,"Census Tract 179.01, Davidson County, Tennessee",17901,37,47,B19301_001E,85095,Estimate!!Per capita income in the past 12 mon...
111,111,1400000US47037017902,"Census Tract 179.02, Davidson County, Tennessee",17902,37,47,B19301_001E,90080,Estimate!!Per capita income in the past 12 mon...
112,112,1400000US47037018000,"Census Tract 180, Davidson County, Tennessee",18000,37,47,B19301_001E,88579,Estimate!!Per capita income in the past 12 mon...
113,113,1400000US47037018101,"Census Tract 181.01, Davidson County, Tennessee",18101,37,47,B19301_001E,24029,Estimate!!Per capita income in the past 12 mon...
114,114,1400000US47037018102,"Census Tract 181.02, Davidson County, Tennessee",18102,37,47,B19301_001E,75084,Estimate!!Per capita income in the past 12 mon...
115,115,1400000US47037018201,"Census Tract 182.01, Davidson County, Tennessee",18201,37,47,B19301_001E,59800,Estimate!!Per capita income in the past 12 mon...
116,116,1400000US47037018202,"Census Tract 182.02, Davidson County, Tennessee",18202,37,47,B19301_001E,42426,Estimate!!Per capita income in the past 12 mon...
117,117,1400000US47037018203,"Census Tract 182.03, Davidson County, Tennessee",18203,37,47,B19301_001E,93836,Estimate!!Per capita income in the past 12 mon...
118,118,1400000US47037018301,"Census Tract 183.01, Davidson County, Tennessee",18301,37,47,B19301_001E,41346,Estimate!!Per capita income in the past 12 mon...
119,119,1400000US47037018302,"Census Tract 183.02, Davidson County, Tennessee",18302,37,47,B19301_001E,46180,Estimate!!Per capita income in the past 12 mon...
120,120,1400000US47037018401,"Census Tract 184.01, Davidson County, Tennessee",18401,37,47,B19301_001E,35222,Estimate!!Per capita income in the past 12 mon...
121,121,1400000US47037018404,"Census Tract 184.04, Davidson County, Tennessee",18404,37,47,B19301_001E,47577,Estimate!!Per capita income in the past 12 mon...
122,122,1400000US47037018405,"Census Tract 184.05, Davidson County, Tennessee",18405,37,47,B19301_001E,55782,Estimate!!Per capita income in the past 12 mon...
123,123,1400000US47037018407,"Census Tract 184.07, Davidson County, Tennessee",18407,37,47,B19301_001E,47651,Estimate!!Per capita income in the past 12 mon...
124,124,1400000US47037018408,"Census Tract 184.08, Davidson County, Tennessee",18408,37,47,B19301_001E,46989,Estimate!!Per capita income in the past 12 mon...
125,125,1400000US47037018409,"Census Tract 184.09, Davidson County, Tennessee",18409,37,47,B19301_001E,39755,Estimate!!Per capita income in the past 12 mon...
126,126,1400000US47037018410,"Census Tract 184.10, Davidson County, Tennessee",18410,37,47,B19301_001E,31817,Estimate!!Per capita income in the past 12 mon...

In [29]:
cur.execute("SELECT * FROM 'B25024' LIMIT 5;")
B25024 = (cur.fetchall())
B25024_df = pd.read_sql("SELECT * FROM B25024;", conn)
B25024_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B25024_001E,1022,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B25024_001E,1382,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B25024_001E,1958,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B25024_001E,1186,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B25024_001E,1826,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
1766,1766,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B25024_011E,0,"Estimate!!Total:!!Boat, RV, van, etc."
1767,1767,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B25024_011E,0,"Estimate!!Total:!!Boat, RV, van, etc."
1768,1768,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B25024_011E,0,"Estimate!!Total:!!Boat, RV, van, etc."
1769,1769,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B25024_011E,0,"Estimate!!Total:!!Boat, RV, van, etc."
1770,1770,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B25024_011E,0,"Estimate!!Total:!!Boat, RV, van, etc."

In [30]:
cur.execute("SELECT * FROM 'B25075' LIMIT 5;")
B25075 = (cur.fetchall())
B25075_df = pd.read_sql("SELECT * FROM B25075;", conn)
B25075_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037010103,"Census Tract 101.03, Davidson County, Tennessee",10103,37,47,B25075_001E,873,Estimate!!Total:
1,1,1400000US47037010104,"Census Tract 101.04, Davidson County, Tennessee",10104,37,47,B25075_001E,975,Estimate!!Total:
2,2,1400000US47037010105,"Census Tract 101.05, Davidson County, Tennessee",10105,37,47,B25075_001E,1626,Estimate!!Total:
3,3,1400000US47037010106,"Census Tract 101.06, Davidson County, Tennessee",10106,37,47,B25075_001E,885,Estimate!!Total:
4,4,1400000US47037010201,"Census Tract 102.01, Davidson County, Tennessee",10201,37,47,B25075_001E,1356,Estimate!!Total:
...,...,...,...,...,...,...,...,...,...
4342,4342,1400000US47037019400,"Census Tract 194, Davidson County, Tennessee",19400,37,47,B25075_027E,0,"Estimate!!Total:!!$2,000,000 or more"
4343,4343,1400000US47037019500,"Census Tract 195, Davidson County, Tennessee",19500,37,47,B25075_027E,0,"Estimate!!Total:!!$2,000,000 or more"
4344,4344,1400000US47037019600,"Census Tract 196, Davidson County, Tennessee",19600,37,47,B25075_027E,0,"Estimate!!Total:!!$2,000,000 or more"
4345,4345,1400000US47037980100,"Census Tract 9801, Davidson County, Tennessee",980100,37,47,B25075_027E,0,"Estimate!!Total:!!$2,000,000 or more"
4346,4346,1400000US47037980200,"Census Tract 9802, Davidson County, Tennessee",980200,37,47,B25075_027E,0,"Estimate!!Total:!!$2,000,000 or more"

In [31]:
cur.execute("SELECT * FROM 'S1701' LIMIT 5;")
S1701 = (cur.fetchall())
S1701_df = pd.read_sql("SELECT * FROM S1701;", conn)
S1701_df

,index,GEO_ID,NAME,tract,county,state,variable,value,description
0,0,1400000US47037015631,"Census Tract 156.31, Davidson County, Tennessee",15631,37,47,S1701_C01_001E,12144.0,Estimate!!Total!!Population for whom poverty s...
1,1,1400000US47037015804,"Census Tract 158.04, Davidson County, Tennessee",15804,37,47,S1701_C01_001E,4093.0,Estimate!!Total!!Population for whom poverty s...
2,2,1400000US47037017701,"Census Tract 177.01, Davidson County, Tennessee",17701,37,47,S1701_C01_001E,2466.0,Estimate!!Total!!Population for whom poverty s...
3,3,1400000US47037017702,"Census Tract 177.02, Davidson County, Tennessee",17702,37,47,S1701_C01_001E,3511.0,Estimate!!Total!!Population for whom poverty s...
4,4,1400000US47037018301,"Census Tract 183.01, Davidson County, Tennessee",18301,37,47,S1701_C01_001E,8222.0,Estimate!!Total!!Population for whom poverty s...
...,...,...,...,...,...,...,...,...,...
29458,29458,1400000US47037015613,"Census Tract 156.13, Davidson County, Tennessee",15613,37,47,S1701_C03_061E,39.2,Estimate!!Percent below poverty level!!UNRELAT...
29459,29459,1400000US47037015620,"Census Tract 156.20, Davidson County, Tennessee",15620,37,47,S1701_C03_061E,58.5,Estimate!!Percent below poverty level!!UNRELAT...
29460,29460,1400000US47037016100,"Census Tract 161, Davidson County, Tennessee",16100,37,47,S1701_C03_061E,92.2,Estimate!!Percent below poverty level!!UNRELAT...
29461,29461,1400000US47037011400,"Census Tract 114, Davidson County, Tennessee",11400,37,47,S1701_C03_061E,36.0,Estimate!!Percent below poverty level!!UNRELAT...
29462,29462,1400000US47037013800,"Census Tract 138, Davidson County, Tennessee",13800,37,47,S1701_C03_061E,79.5,Estimate!!Percent below poverty level!!UNRELAT...

In [32]:
Police_Calls.loc[Police_Calls["Incident Type"]=="SUICIDAL PERSON"]

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
...,...,...,...,...,...,...,...
47894,March,W,03-23-2022,06:41:49,6700 CABOT DR,SUICIDAL PERSON,2M
47958,March,W,03-27-2022,07:54:28,329 SUSANNAH CT,SUICIDAL PERSON,3
47982,March,W,03-28-2022,19:23:55,517 RIVER ROUGE DR,SUICIDAL PERSON,3
47994,March,W,03-29-2022,14:01:59,8109 BOONE TRCE,SUICIDAL PERSON,2M
48016,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2

In [33]:
Suicidal_Persons = Police_Calls.loc[Police_Calls["Incident Type"]=="SUICIDAL PERSON"]

In [34]:
Suicidal_Persons

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
...,...,...,...,...,...,...,...
47894,March,W,03-23-2022,06:41:49,6700 CABOT DR,SUICIDAL PERSON,2M
47958,March,W,03-27-2022,07:54:28,329 SUSANNAH CT,SUICIDAL PERSON,3
47982,March,W,03-28-2022,19:23:55,517 RIVER ROUGE DR,SUICIDAL PERSON,3
47994,March,W,03-29-2022,14:01:59,8109 BOONE TRCE,SUICIDAL PERSON,2M
48016,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2

In [35]:
c = Police_Calls.loc[Police_Calls['Precinct'] == 'C']
c

,Month,Precinct,Date,Created,Address,Incident Type,Priority
0,July,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,July,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,July,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,July,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,July,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...,...
43228,March,C,03-31-2022,18:13:15,639 LAFAYETTE ST,ASSIST EMS,2
43229,March,C,03-31-2022,19:05:27,250 REP JOHN LEWIS WAY S,DISORDERLY SUBJECT,2
43230,March,C,03-31-2022,20:21:18,206 3RD AVE S,ASSIST EMS,2M
43231,March,C,03-31-2022,21:17:06,BROADWAY / REP JOHN LEWIS WAY S,DISORDERLY SUBJECT,2M
43232,March,C,03-31-2022,23:09:29,215 6TH AVE N,TRESPASSER,2M

In [36]:
Suicidal_Persons_c = c.loc[c["Incident Type"]=="SUICIDAL PERSON"]

In [37]:
Suicidal_Persons_c

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
70,July,C,07-03-2021,03:37:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
119,July,C,07-04-2021,21:59:08,500 REP JOHN LEWIS WAY N,SUICIDAL PERSON,2
123,July,C,07-05-2021,01:03:16,MCGAVOCK ST / 10TH AVE S,SUICIDAL PERSON,2M
151,July,C,07-06-2021,22:41:17,JEFFERSON ST / 4TH AVE N,SUICIDAL PERSON,2
155,July,C,07-07-2021,05:20:48,8TH AVE S / CLARK PL,SUICIDAL PERSON,2
162,July,C,07-07-2021,13:45:19,526 8TH AVE S,SUICIDAL PERSON,2
227,July,C,07-09-2021,23:39:10,623 6TH AVE S,SUICIDAL PERSON,2
236,July,C,07-10-2021,10:55:29,719 8TH AVE S,SUICIDAL PERSON,2M
249,July,C,07-10-2021,18:20:11,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
256,July,C,07-10-2021,22:46:41,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
274,July,C,07-11-2021,14:09:53,3RD AVE S / BROADWAY,SUICIDAL PERSON,2M
280,July,C,07-11-2021,16:23:22,639 LAFAYETTE ST,SUICIDAL PERSON,2
287,July,C,07-11-2021,19:45:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
297,July,C,07-12-2021,02:22:34,4TH AVE S / BROADWAY,SUICIDAL PERSON,3
304,July,C,07-12-2021,15:29:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
323,July,C,07-13-2021,15:38:02,600 BROADWAY,SUICIDAL PERSON,2
348,July,C,07-14-2021,14:47:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
357,July,C,07-15-2021,03:47:35,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
414,July,C,07-17-2021,10:48:48,99 SPRING ST,SUICIDAL PERSON,2
449,July,C,07-19-2021,07:20:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
461,July,C,07-19-2021,19:55:33,132 ROSA L PARKS BLVD,SUICIDAL PERSON,2
479,July,C,07-20-2021,14:20:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
484,July,C,07-20-2021,18:21:39,401 BROADWAY,SUICIDAL PERSON,2
497,July,C,07-21-2021,08:53:46,603 8TH AVE S,SUICIDAL PERSON,2
505,July,C,07-21-2021,19:01:14,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
512,July,C,07-22-2021,06:29:47,111 N 1ST ST,SUICIDAL PERSON,2
516,July,C,07-22-2021,11:42:02,151 6TH AVE N,SUICIDAL PERSON,2
520,July,C,07-22-2021,13:43:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
553,July,C,07-23-2021,18:33:00,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
564,July,C,07-24-2021,01:13:45,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
571,July,C,07-24-2021,04:21:52,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
573,July,C,07-24-2021,04:54:48,121 4TH AVE S,SUICIDAL PERSON,2
587,July,C,07-24-2021,15:49:21,1207 MCGAVOCK ST,SUICIDAL PERSON,3
608,July,C,07-24-2021,22:29:34,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
611,July,C,07-24-2021,23:05:13,BROADWAY / REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
635,July,C,07-25-2021,11:44:54,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
642,July,C,07-25-2021,18:52:07,1ST AVE N / BROADWAY,SUICIDAL PERSON,2M
648,July,C,07-25-2021,21:31:56,1700 3RD AVE N,SUICIDAL PERSON,3
654,July,C,07-26-2021,09:11:19,639 LAFAYETTE ST,SUICIDAL PERSON,2M
662,July,C,07-26-2021,19:34:04,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
671,July,C,07-27-2021,02:28:24,1001 BROADWAY,SUICIDAL PERSON,3
687,July,C,07-27-2021,17:28:38,9 HERMITAGE AVE,SUICIDAL PERSON,2
696,July,C,07-27-2021,21:42:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
698,July,C,07-27-2021,22:42:43,401 BROADWAY,SUICIDAL PERSON,3
717,July,C,07-28-2021,22:38:10,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
729,July,C,07-29-2021,18:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,3
740,July,C,07-30-2021,00:34:41,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,3
758,July,C,07-30-2021,22:14:14,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
5344,August,C,08-01-2021,01:27:55,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
5348,August,C,08-01-2021,04:12:37,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
5349,August,C,08-01-2021,07:17:07,639 LAFAYETTE ST,SUICIDAL PERSON,2
5371,August,C,08-02-2021,14:36:55,615 CHURCH ST,SUICIDAL PERSON,2M
5372,August,C,08-02-2021,17:22:30,615 CHURCH ST,SUICIDAL PERSON,2M
5385,August,C,08-03-2021,09:17:41,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,2
5399,August,C,08-03-2021,22:16:05,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
5402,August,C,08-04-2021,01:06:32,1101 BROADWAY,SUICIDAL PERSON,2
5403,August,C,08-04-2021,01:11:34,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
5421,August,C,08-04-2021,13:21:07,330 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
5426,August,C,08-04-2021,15:30:02,418 BROADWAY,SUICIDAL PERSON,2M
5439,August,C,08-05-2021,03:42:00,710 JAMES ROBERTSON PKWY,SUICIDAL PERSON,3
5467,August,C,08-06-2021,15:23:35,8TH AVE S / GLEAVES ST,SUICIDAL PERSON,2
5505,August,C,08-07-2021,20:17:39,639 LAFAYETTE ST,SUICIDAL PERSON,2
5518,August,C,08-08-2021,02:56:18,108 1ST AVE S,SUICIDAL PERSON,2M
5550,August,C,08-09-2021,04:58:51,301 DEMONBREUN ST,SUICIDAL PERSON,2
5590,August,C,08-10-2021,20:10:37,412 BROADWAY,SUICIDAL PERSON,3
5592,August,C,08-10-2021,23:58:08,639 LAFAYETTE ST,SUICIDAL PERSON,2
5602,August,C,08-11-2021,11:29:56,480 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
5751,August,C,08-15-2021,12:51:10,639 LAFAYETTE ST,SUICIDAL PERSON,2
5781,August,C,08-16-2021,15:44:17,705 DREXEL ST,SUICIDAL PERSON,2
5796,August,C,08-17-2021,08:03:23,1111 BROADWAY,SUICIDAL PERSON,2M
5805,August,C,08-17-2021,17:27:48,501 COMMERCE ST,SUICIDAL PERSON,2
5811,August,C,08-17-2021,23:39:42,BROADWAY / 4TH AVE S,SUICIDAL PERSON,2
5812,August,C,08-18-2021,01:37:37,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
5816,August,C,08-18-2021,08:14:03,208 BROADWAY,SUICIDAL PERSON,2M
5834,August,C,08-19-2021,02:15:43,7TH AVE S / MIDDLETON ST,SUICIDAL PERSON,2
5859,August,C,08-19-2021,21:27:51,600 CHURCH ST,SUICIDAL PERSON,2
5874,August,C,08-20-2021,08:04:23,639 LAFAYETTE ST,SUICIDAL PERSON,2
5910,August,C,08-21-2021,03:58:33,410 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
5916,August,C,08-21-2021,12:02:46,MIDDLETON ST / EWING AVE,SUICIDAL PERSON,2
5928,August,C,08-21-2021,20:28:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
5932,August,C,08-21-2021,22:45:32,639 LAFAYETTE ST,SUICIDAL PERSON,3
6006,August,C,08-24-2021,23:22:15,501 COMMERCE ST,SUICIDAL PERSON,2
6037,August,C,08-25-2021,22:58:49,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
6044,August,C,08-26-2021,08:39:33,312 ROSA L PARKS AVE,SUICIDAL PERSON,2
6119,August,C,08-28-2021,19:36:16,321 12TH AVE S,SUICIDAL PERSON,2
6131,August,C,08-29-2021,09:54:49,319 PEABODY ST,SUICIDAL PERSON,2
6140,August,C,08-30-2021,01:38:34,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
6151,August,C,08-30-2021,12:02:45,639 LAFAYETTE ST,SUICIDAL PERSON,2M
6169,August,C,08-30-2021,21:49:11,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
6177,August,C,08-31-2021,08:56:55,3RD AVE S / BROADWAY,SUICIDAL PERSON,3
6191,August,C,08-31-2021,20:56:18,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
11163,September,C,09-01-2021,06:16:58,639 LAFAYETTE ST,SUICIDAL PERSON,2
11165,September,C,09-01-2021,08:17:46,705 DREXEL ST,SUICIDAL PERSON,2
11169,September,C,09-01-2021,09:14:23,VICTORY MEMORIAL BRIDGE,SUICIDAL PERSON,2M
11191,September,C,09-02-2021,12:09:43,CHURCH ST / PRINTERS ALY,SUICIDAL PERSON,2
11225,September,C,09-03-2021,12:33:26,6TH AVE S / KOREAN VETERANS BLVD,SUICIDAL PERSON,2
11236,September,C,09-03-2021,16:07:51,639 LAFAYETTE ST,SUICIDAL PERSON,2
11269,September,C,09-04-2021,12:15:12,639 LAFAYETTE ST,SUICIDAL PERSON,2
11358,September,C,09-07-2021,07:00:15,KVB BRIDGE,SUICIDAL PERSON,3M
11360,September,C,09-07-2021,09:40:57,639 LAFAYETTE ST,SUICIDAL PERSON,2
11368,September,C,09-07-2021,19:29:03,639 LAFAYETTE ST,SUICIDAL PERSON,2
11376,September,C,09-08-2021,07:05:18,639 LAFAYETTE ST,SUICIDAL PERSON,2M
11383,September,C,09-08-2021,12:48:06,705 DREXEL ST,SUICIDAL PERSON,2
11385,September,C,09-08-2021,13:12:34,615 CHURCH ST,SUICIDAL PERSON,2
11395,September,C,09-08-2021,19:09:34,639 LAFAYETTE ST,SUICIDAL PERSON,2
11413,September,C,09-09-2021,16:03:54,705 DREXEL ST,SUICIDAL PERSON,2
11421,September,C,09-09-2021,20:45:29,19 JUNIOR GILLIAM WAY,SUICIDAL PERSON,2M
11427,September,C,09-10-2021,00:37:32,230 4TH AVE N,SUICIDAL PERSON,2
11431,September,C,09-10-2021,04:17:34,1101 BROADWAY,SUICIDAL PERSON,2
11436,September,C,09-10-2021,11:55:12,705 DREXEL ST,SUICIDAL PERSON,2M
11446,September,C,09-10-2021,20:05:09,1ST AVE S / DEMONBREUN ST,SUICIDAL PERSON,3
11456,September,C,09-10-2021,23:54:54,310 GAY ST,SUICIDAL PERSON,2
11462,September,C,09-11-2021,02:26:36,205 DEMONBREUN ST,SUICIDAL PERSON,2
11574,September,C,09-14-2021,13:51:36,705 DREXEL ST,SUICIDAL PERSON,2
11581,September,C,09-14-2021,20:27:52,803 DIVISION ST,SUICIDAL PERSON,2
11590,September,C,09-15-2021,02:22:08,803 DIVISION ST,SUICIDAL PERSON,2
11663,September,C,09-17-2021,22:58:38,1101 BROADWAY,SUICIDAL PERSON,2
11745,September,C,09-20-2021,00:52:26,4TH AVE S / SYMPHONY PL,SUICIDAL PERSON,2
11765,September,C,09-20-2021,14:14:46,206 3RD AVE S,SUICIDAL PERSON,2
11794,September,C,09-21-2021,21:54:13,639 LAFAYETTE ST,SUICIDAL PERSON,2
11797,September,C,09-21-2021,22:33:21,639 LAFAYETTE ST,SUICIDAL PERSON,2
11801,September,C,09-22-2021,02:05:18,429 BROADWAY,SUICIDAL PERSON,2
11826,September,C,09-23-2021,17:59:43,639 LAFAYETTE ST,SUICIDAL PERSON,2
11876,September,C,09-24-2021,22:11:55,440 3RD AVE N,SUICIDAL PERSON,2M
11900,September,C,09-25-2021,18:44:55,639 LAFAYETTE ST,SUICIDAL PERSON,2
11934,September,C,09-26-2021,15:38:04,639 LAFAYETTE ST,SUICIDAL PERSON,2
11993,September,C,09-28-2021,17:53:17,9TH AVE N / BROADWAY,SUICIDAL PERSON,2
12002,September,C,09-28-2021,22:26:40,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
12032,September,C,09-30-2021,01:16:00,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,3
12047,September,C,09-30-2021,16:58:48,639 LAFAYETTE ST,SUICIDAL PERSON,2
12048,September,C,09-30-2021,18:22:25,639 LAFAYETTE ST,SUICIDAL PERSON,2
16974,October,C,10-01-2021,17:28:43,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
16975,October,C,10-01-2021,17:38:23,CANNERY ROW / 8TH AVE S,SUICIDAL PERSON,3
16987,October,C,10-02-2021,00:03:48,401 BROADWAY,SUICIDAL PERSON,2M
17055,October,C,10-04-2021,02:51:02,250 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17086,October,C,10-04-2021,22:21:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17095,October,C,10-05-2021,06:13:02,639 LAFAYETTE ST,SUICIDAL PERSON,2
17096,October,C,10-05-2021,06:52:55,639 LAFAYETTE ST,SUICIDAL PERSON,2M
17100,October,C,10-05-2021,07:54:10,639 LAFAYETTE ST,SUICIDAL PERSON,2
17110,October,C,10-05-2021,19:09:42,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
17121,October,C,10-06-2021,05:55:12,639 LAFAYETTE ST,SUICIDAL PERSON,2
17123,October,C,10-06-2021,07:36:52,639 LAFAYETTE ST,SUICIDAL PERSON,3
17156,October,C,10-07-2021,08:14:47,1200 BROADWAY,SUICIDAL PERSON,2M
17220,October,C,10-09-2021,10:15:17,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
17290,October,C,10-11-2021,21:49:46,639 LAFAYETTE ST,SUICIDAL PERSON,2
17310,October,C,10-12-2021,18:24:52,801 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17320,October,C,10-13-2021,03:08:45,531 LAFAYETTE ST,SUICIDAL PERSON,2
17334,October,C,10-13-2021,19:36:23,110 4TH AVE S,SUICIDAL PERSON,2
17429,October,C,10-17-2021,11:20:44,535 LAFAYETTE ST,SUICIDAL PERSON,2
17443,October,C,10-18-2021,03:51:46,422 BROADWAY,SUICIDAL PERSON,2
17465,October,C,10-19-2021,01:27:45,DEMONBREUN ST / 4TH AVE S,SUICIDAL PERSON,2
17478,October,C,10-19-2021,09:21:59,600 12TH AVE S,SUICIDAL PERSON,2
17489,October,C,10-19-2021,17:36:27,634 4TH AVE S,SUICIDAL PERSON,2
17492,October,C,10-19-2021,22:08:52,LOT M,SUICIDAL PERSON,2
17516,October,C,10-20-2021,19:54:03,301 BROADWAY,SUICIDAL PERSON,2
17517,October,C,10-20-2021,20:02:43,660 LAFAYETTE ST,SUICIDAL PERSON,3
17530,October,C,10-21-2021,06:39:01,227 SHELBY AVE,SUICIDAL PERSON,2M
17538,October,C,10-21-2021,15:32:24,611 COMMERCE ST,SUICIDAL PERSON,2
17559,October,C,10-22-2021,14:45:21,501 COMMERCE ST,SUICIDAL PERSON,2
17582,October,C,10-23-2021,02:43:52,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17584,October,C,10-23-2021,05:20:53,410 REP JOHN LEWIS WAY S,SUICIDAL PERSON,3
17607,October,C,10-23-2021,17:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,2
17621,October,C,10-24-2021,00:06:26,639 LAFAYETTE ST,SUICIDAL PERSON,2
17678,October,C,10-25-2021,12:40:50,406 11TH AVE N,SUICIDAL PERSON,2
17709,October,C,10-26-2021,20:10:44,531 LAFAYETTE ST,SUICIDAL PERSON,2
17718,October,C,10-26-2021,22:39:35,207 BROADWAY,SUICIDAL PERSON,3
17733,October,C,10-27-2021,19:08:43,639 LAFAYETTE ST,SUICIDAL PERSON,2
17741,October,C,10-27-2021,22:15:45,REP JOHN LEWIS WAY S / BROADWAY,SUICIDAL PERSON,2
17747,October,C,10-28-2021,02:51:11,315 4TH AVE N,SUICIDAL PERSON,2
17781,October,C,10-29-2021,17:57:02,639 LAFAYETTE ST,SUICIDAL PERSON,3
17786,October,C,10-29-2021,22:34:20,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
17795,October,C,10-30-2021,03:05:41,10 PEABODY ST,SUICIDAL PERSON,2
17839,October,C,10-31-2021,04:52:06,639 LAFAYETTE ST,SUICIDAL PERSON,2M
17849,October,C,10-31-2021,19:27:45,100 BROADWAY,SUICIDAL PERSON,2
23208,November,C,11-02-2021,05:32:11,9 HERMITAGE AVE,SUICIDAL PERSON,2
23218,November,C,11-02-2021,13:30:24,KVB BRIDGE,SUICIDAL PERSON,3
23233,November,C,11-02-2021,21:08:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
23240,November,C,11-03-2021,04:06:09,639 LAFAYETTE ST,SUICIDAL PERSON,2
23293,November,C,11-05-2021,02:02:25,KOREAN VETERANS BLVD / REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23311,November,C,11-05-2021,16:56:57,112 1ST AVE S,SUICIDAL PERSON,2
23400,November,C,11-08-2021,21:06:29,800 2ND AVE N,SUICIDAL PERSON,3
23403,November,C,11-09-2021,01:49:40,3RD AVE S / DEMONBREUN ST,SUICIDAL PERSON,2
23429,November,C,11-10-2021,07:48:15,639 LAFAYETTE ST,SUICIDAL PERSON,2
23451,November,C,11-11-2021,12:38:15,705 DREXEL ST,SUICIDAL PERSON,2
23463,November,C,11-11-2021,19:42:44,616 7TH AVE S,SUICIDAL PERSON,2
23491,November,C,11-12-2021,14:36:36,639 LAFAYETTE ST,SUICIDAL PERSON,2
23497,November,C,11-12-2021,17:52:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
23501,November,C,11-12-2021,19:14:23,1101 CHURCH ST,SUICIDAL PERSON,2
23542,November,C,11-13-2021,23:18:08,600 BROADWAY,SUICIDAL PERSON,2
23554,November,C,11-14-2021,11:08:13,639 LAFAYETTE ST,SUICIDAL PERSON,2M
23606,November,C,11-17-2021,01:36:24,4TH AVE S / KOREAN VETERANS BLVD,SUICIDAL PERSON,2
23633,November,C,11-18-2021,04:18:24,310 4TH AVE S,SUICIDAL PERSON,2M
23643,November,C,11-18-2021,20:29:46,639 LAFAYETTE ST,SUICIDAL PERSON,2M
23664,November,C,11-19-2021,16:00:54,JEFFERSON ST BRIDGE,SUICIDAL PERSON,3
23693,November,C,11-21-2021,00:37:26,425 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23695,November,C,11-21-2021,01:15:52,KVB BRIDGE,SUICIDAL PERSON,3
23726,November,C,11-22-2021,02:09:38,535 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23727,November,C,11-22-2021,03:15:47,301 3RD AVE S,SUICIDAL PERSON,3
23728,November,C,11-22-2021,04:09:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23766,November,C,11-23-2021,15:56:58,8TH AVE S / GLEAVES ST,SUICIDAL PERSON,2
23772,November,C,11-24-2021,01:43:34,9 HERMITAGE AVE,SUICIDAL PERSON,2
23792,November,C,11-24-2021,23:58:27,110 3RD AVE S,SUICIDAL PERSON,2
23812,November,C,11-25-2021,21:57:33,BROADWAY / 7TH AVE N,SUICIDAL PERSON,2M
23835,November,C,11-27-2021,01:38:17,500 LAFAYETTE ST,SUICIDAL PERSON,3
23858,November,C,11-28-2021,05:03:35,315 4TH AVE N,SUICIDAL PERSON,2
23871,November,C,11-28-2021,22:24:22,428 BROADWAY,SUICIDAL PERSON,2
23891,November,C,11-30-2021,00:52:08,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,2
23906,November,C,11-30-2021,11:10:55,639 LAFAYETTE ST,SUICIDAL PERSON,2
23911,November,C,11-30-2021,15:30:41,639 LAFAYETTE ST,SUICIDAL PERSON,3
27993,December,C,12-02-2021,02:50:08,1000 BROADWAY,SUICIDAL PERSON,2
28009,December,C,12-03-2021,00:18:08,205 DEMONBREUN ST,SUICIDAL PERSON,2
28023,December,C,12-03-2021,14:13:46,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28035,December,C,12-03-2021,23:05:39,639 LAFAYETTE ST,SUICIDAL PERSON,2
28061,December,C,12-04-2021,22:48:48,SHELBY AVE / INTERSTATE DR,SUICIDAL PERSON,2
28078,December,C,12-05-2021,19:54:58,1027 CHURCH ST,SUICIDAL PERSON,3
28085,December,C,12-06-2021,02:16:43,6TH AVE S / PEABODY ST,SUICIDAL PERSON,3
28096,December,C,12-06-2021,12:12:32,8TH AVE S / BROADWAY,SUICIDAL PERSON,3
28112,December,C,12-06-2021,21:51:42,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28116,December,C,12-07-2021,03:02:10,49 LINDSLEY AVE,SUICIDAL PERSON,3
28136,December,C,12-07-2021,21:28:39,49 LINDSLEY AVE,SUICIDAL PERSON,3
28208,December,C,12-10-2021,23:04:48,901 DIVISION ST,SUICIDAL PERSON,3
28219,December,C,12-11-2021,13:16:25,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28303,December,C,12-14-2021,17:34:53,425 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28311,December,C,12-14-2021,22:10:58,422 BROADWAY,SUICIDAL PERSON,2M
28315,December,C,12-15-2021,02:44:50,EWING AVE / ASH ST,SUICIDAL PERSON,2
28376,December,C,12-17-2021,22:40:45,527 8TH AVE S,SUICIDAL PERSON,2
28390,December,C,12-18-2021,09:46:11,11TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
28454,December,C,12-21-2021,05:01:49,639 LAFAYETTE ST,SUICIDAL PERSON,2
28462,December,C,12-21-2021,18:04:22,4TH AVE S / BROADWAY,SUICIDAL PERSON,2
28466,December,C,12-21-2021,19:21:53,1111 BROADWAY,SUICIDAL PERSON,2
28556,December,C,12-26-2021,13:32:49,639 LAFAYETTE ST,SUICIDAL PERSON,2
28562,December,C,12-27-2021,01:01:33,315 4TH AVE N,SUICIDAL PERSON,2
28567,December,C,12-27-2021,07:49:29,SHELBY ST PEDESTRIAN BRIDGE,SUICIDAL PERSON,3
28579,December,C,12-27-2021,18:30:17,301 6TH AVE N,SUICIDAL PERSON,2
28601,December,C,12-28-2021,17:45:55,705 DREXEL ST,SUICIDAL PERSON,2
28621,December,C,12-29-2021,15:06:55,800 HARRISON ST,SUICIDAL PERSON,2
28633,December,C,12-30-2021,05:00:57,639 LAFAYETTE ST,SUICIDAL PERSON,2
28644,December,C,12-30-2021,17:43:46,639 LAFAYETTE ST,SUICIDAL PERSON,2M
28661,December,C,12-31-2021,06:41:29,639 LAFAYETTE ST,SUICIDAL PERSON,2M
33091,January,C,01-01-2022,13:16:16,REP JOHN LEWIS WAY N / COMMERCE ST,SUICIDAL PERSON,2
33092,January,C,01-01-2022,13:50:50,250 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33099,January,C,01-01-2022,17:51:02,250 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33150,January,C,01-04-2022,13:03:40,119 3RD AVE S,SUICIDAL PERSON,2
33172,January,C,01-05-2022,15:59:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
33225,January,C,01-08-2022,17:26:43,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33231,January,C,01-08-2022,21:00:11,437 ELM ST,SUICIDAL PERSON,3
33251,January,C,01-09-2022,18:49:49,639 LAFAYETTE ST,SUICIDAL PERSON,2M
33252,January,C,01-09-2022,19:25:46,131 2ND AVE N,SUICIDAL PERSON,2
33266,January,C,01-10-2022,10:50:09,LAFAYETTE ST / EWING AVE,SUICIDAL PERSON,2
33299,January,C,01-12-2022,08:49:55,705 DREXEL ST,SUICIDAL PERSON,2
33304,January,C,01-12-2022,16:47:51,705 DREXEL ST,SUICIDAL PERSON,2
33335,January,C,01-13-2022,22:50:43,4TH AVE S / BROADWAY,SUICIDAL PERSON,2M
33345,January,C,01-14-2022,17:57:15,111 N 1ST ST,SUICIDAL PERSON,2
33391,January,C,01-16-2022,05:47:51,111 N 1ST ST,SUICIDAL PERSON,3
33396,January,C,01-16-2022,11:08:28,639 LAFAYETTE ST,SUICIDAL PERSON,2M
33400,January,C,01-16-2022,17:45:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
33436,January,C,01-18-2022,14:04:39,185 ANTHES DR,SUICIDAL PERSON,2
33477,January,C,01-20-2022,15:47:29,427 LAFAYETTE ST,SUICIDAL PERSON,3
33509,January,C,01-22-2022,17:41:38,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33530,January,C,01-23-2022,10:18:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
33564,January,C,01-24-2022,22:04:39,111 4TH AVE S,SUICIDAL PERSON,2
33567,January,C,01-25-2022,04:12:06,206 3RD AVE S,SUICIDAL PERSON,2
33582,January,C,01-25-2022,18:35:12,101 VAN BUREN ST,SUICIDAL PERSON,2
33615,January,C,01-27-2022,21:46:14,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
33651,January,C,01-29-2022,17:14:44,REP JOHN LEWIS WAY S / LEA AVE,SUICIDAL PERSON,2
33654,January,C,01-29-2022,20:38:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
33664,January,C,01-30-2022,07:38:18,639 LAFAYETTE ST,SUICIDAL PERSON,2
37751,February,C,02-01-2022,09:16:33,603 8TH AVE S,SUICIDAL PERSON,2M
37765,February,C,02-02-2022,16:28:17,1201 BROADWAY,SUICIDAL PERSON,2
37766,February,C,02-02-2022,18:12:43,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2

In [38]:
c_filtered = Police_Calls.loc[(Police_Calls['Precinct'] == 'C') & (Police_Calls['Incident Type'] == 'SUICIDAL PERSON')]
c_filtered

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
70,July,C,07-03-2021,03:37:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
119,July,C,07-04-2021,21:59:08,500 REP JOHN LEWIS WAY N,SUICIDAL PERSON,2
123,July,C,07-05-2021,01:03:16,MCGAVOCK ST / 10TH AVE S,SUICIDAL PERSON,2M
151,July,C,07-06-2021,22:41:17,JEFFERSON ST / 4TH AVE N,SUICIDAL PERSON,2
155,July,C,07-07-2021,05:20:48,8TH AVE S / CLARK PL,SUICIDAL PERSON,2
162,July,C,07-07-2021,13:45:19,526 8TH AVE S,SUICIDAL PERSON,2
227,July,C,07-09-2021,23:39:10,623 6TH AVE S,SUICIDAL PERSON,2
236,July,C,07-10-2021,10:55:29,719 8TH AVE S,SUICIDAL PERSON,2M
249,July,C,07-10-2021,18:20:11,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
256,July,C,07-10-2021,22:46:41,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
274,July,C,07-11-2021,14:09:53,3RD AVE S / BROADWAY,SUICIDAL PERSON,2M
280,July,C,07-11-2021,16:23:22,639 LAFAYETTE ST,SUICIDAL PERSON,2
287,July,C,07-11-2021,19:45:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
297,July,C,07-12-2021,02:22:34,4TH AVE S / BROADWAY,SUICIDAL PERSON,3
304,July,C,07-12-2021,15:29:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
323,July,C,07-13-2021,15:38:02,600 BROADWAY,SUICIDAL PERSON,2
348,July,C,07-14-2021,14:47:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
357,July,C,07-15-2021,03:47:35,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
414,July,C,07-17-2021,10:48:48,99 SPRING ST,SUICIDAL PERSON,2
449,July,C,07-19-2021,07:20:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
461,July,C,07-19-2021,19:55:33,132 ROSA L PARKS BLVD,SUICIDAL PERSON,2
479,July,C,07-20-2021,14:20:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
484,July,C,07-20-2021,18:21:39,401 BROADWAY,SUICIDAL PERSON,2
497,July,C,07-21-2021,08:53:46,603 8TH AVE S,SUICIDAL PERSON,2
505,July,C,07-21-2021,19:01:14,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
512,July,C,07-22-2021,06:29:47,111 N 1ST ST,SUICIDAL PERSON,2
516,July,C,07-22-2021,11:42:02,151 6TH AVE N,SUICIDAL PERSON,2
520,July,C,07-22-2021,13:43:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
553,July,C,07-23-2021,18:33:00,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
564,July,C,07-24-2021,01:13:45,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
571,July,C,07-24-2021,04:21:52,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
573,July,C,07-24-2021,04:54:48,121 4TH AVE S,SUICIDAL PERSON,2
587,July,C,07-24-2021,15:49:21,1207 MCGAVOCK ST,SUICIDAL PERSON,3
608,July,C,07-24-2021,22:29:34,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
611,July,C,07-24-2021,23:05:13,BROADWAY / REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
635,July,C,07-25-2021,11:44:54,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
642,July,C,07-25-2021,18:52:07,1ST AVE N / BROADWAY,SUICIDAL PERSON,2M
648,July,C,07-25-2021,21:31:56,1700 3RD AVE N,SUICIDAL PERSON,3
654,July,C,07-26-2021,09:11:19,639 LAFAYETTE ST,SUICIDAL PERSON,2M
662,July,C,07-26-2021,19:34:04,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
671,July,C,07-27-2021,02:28:24,1001 BROADWAY,SUICIDAL PERSON,3
687,July,C,07-27-2021,17:28:38,9 HERMITAGE AVE,SUICIDAL PERSON,2
696,July,C,07-27-2021,21:42:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
698,July,C,07-27-2021,22:42:43,401 BROADWAY,SUICIDAL PERSON,3
717,July,C,07-28-2021,22:38:10,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
729,July,C,07-29-2021,18:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,3
740,July,C,07-30-2021,00:34:41,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,3
758,July,C,07-30-2021,22:14:14,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
5344,August,C,08-01-2021,01:27:55,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
5348,August,C,08-01-2021,04:12:37,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
5349,August,C,08-01-2021,07:17:07,639 LAFAYETTE ST,SUICIDAL PERSON,2
5371,August,C,08-02-2021,14:36:55,615 CHURCH ST,SUICIDAL PERSON,2M
5372,August,C,08-02-2021,17:22:30,615 CHURCH ST,SUICIDAL PERSON,2M
5385,August,C,08-03-2021,09:17:41,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,2
5399,August,C,08-03-2021,22:16:05,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
5402,August,C,08-04-2021,01:06:32,1101 BROADWAY,SUICIDAL PERSON,2
5403,August,C,08-04-2021,01:11:34,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
5421,August,C,08-04-2021,13:21:07,330 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
5426,August,C,08-04-2021,15:30:02,418 BROADWAY,SUICIDAL PERSON,2M
5439,August,C,08-05-2021,03:42:00,710 JAMES ROBERTSON PKWY,SUICIDAL PERSON,3
5467,August,C,08-06-2021,15:23:35,8TH AVE S / GLEAVES ST,SUICIDAL PERSON,2
5505,August,C,08-07-2021,20:17:39,639 LAFAYETTE ST,SUICIDAL PERSON,2
5518,August,C,08-08-2021,02:56:18,108 1ST AVE S,SUICIDAL PERSON,2M
5550,August,C,08-09-2021,04:58:51,301 DEMONBREUN ST,SUICIDAL PERSON,2
5590,August,C,08-10-2021,20:10:37,412 BROADWAY,SUICIDAL PERSON,3
5592,August,C,08-10-2021,23:58:08,639 LAFAYETTE ST,SUICIDAL PERSON,2
5602,August,C,08-11-2021,11:29:56,480 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
5751,August,C,08-15-2021,12:51:10,639 LAFAYETTE ST,SUICIDAL PERSON,2
5781,August,C,08-16-2021,15:44:17,705 DREXEL ST,SUICIDAL PERSON,2
5796,August,C,08-17-2021,08:03:23,1111 BROADWAY,SUICIDAL PERSON,2M
5805,August,C,08-17-2021,17:27:48,501 COMMERCE ST,SUICIDAL PERSON,2
5811,August,C,08-17-2021,23:39:42,BROADWAY / 4TH AVE S,SUICIDAL PERSON,2
5812,August,C,08-18-2021,01:37:37,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
5816,August,C,08-18-2021,08:14:03,208 BROADWAY,SUICIDAL PERSON,2M
5834,August,C,08-19-2021,02:15:43,7TH AVE S / MIDDLETON ST,SUICIDAL PERSON,2
5859,August,C,08-19-2021,21:27:51,600 CHURCH ST,SUICIDAL PERSON,2
5874,August,C,08-20-2021,08:04:23,639 LAFAYETTE ST,SUICIDAL PERSON,2
5910,August,C,08-21-2021,03:58:33,410 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
5916,August,C,08-21-2021,12:02:46,MIDDLETON ST / EWING AVE,SUICIDAL PERSON,2
5928,August,C,08-21-2021,20:28:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
5932,August,C,08-21-2021,22:45:32,639 LAFAYETTE ST,SUICIDAL PERSON,3
6006,August,C,08-24-2021,23:22:15,501 COMMERCE ST,SUICIDAL PERSON,2
6037,August,C,08-25-2021,22:58:49,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
6044,August,C,08-26-2021,08:39:33,312 ROSA L PARKS AVE,SUICIDAL PERSON,2
6119,August,C,08-28-2021,19:36:16,321 12TH AVE S,SUICIDAL PERSON,2
6131,August,C,08-29-2021,09:54:49,319 PEABODY ST,SUICIDAL PERSON,2
6140,August,C,08-30-2021,01:38:34,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
6151,August,C,08-30-2021,12:02:45,639 LAFAYETTE ST,SUICIDAL PERSON,2M
6169,August,C,08-30-2021,21:49:11,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
6177,August,C,08-31-2021,08:56:55,3RD AVE S / BROADWAY,SUICIDAL PERSON,3
6191,August,C,08-31-2021,20:56:18,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
11163,September,C,09-01-2021,06:16:58,639 LAFAYETTE ST,SUICIDAL PERSON,2
11165,September,C,09-01-2021,08:17:46,705 DREXEL ST,SUICIDAL PERSON,2
11169,September,C,09-01-2021,09:14:23,VICTORY MEMORIAL BRIDGE,SUICIDAL PERSON,2M
11191,September,C,09-02-2021,12:09:43,CHURCH ST / PRINTERS ALY,SUICIDAL PERSON,2
11225,September,C,09-03-2021,12:33:26,6TH AVE S / KOREAN VETERANS BLVD,SUICIDAL PERSON,2
11236,September,C,09-03-2021,16:07:51,639 LAFAYETTE ST,SUICIDAL PERSON,2
11269,September,C,09-04-2021,12:15:12,639 LAFAYETTE ST,SUICIDAL PERSON,2
11358,September,C,09-07-2021,07:00:15,KVB BRIDGE,SUICIDAL PERSON,3M
11360,September,C,09-07-2021,09:40:57,639 LAFAYETTE ST,SUICIDAL PERSON,2
11368,September,C,09-07-2021,19:29:03,639 LAFAYETTE ST,SUICIDAL PERSON,2
11376,September,C,09-08-2021,07:05:18,639 LAFAYETTE ST,SUICIDAL PERSON,2M
11383,September,C,09-08-2021,12:48:06,705 DREXEL ST,SUICIDAL PERSON,2
11385,September,C,09-08-2021,13:12:34,615 CHURCH ST,SUICIDAL PERSON,2
11395,September,C,09-08-2021,19:09:34,639 LAFAYETTE ST,SUICIDAL PERSON,2
11413,September,C,09-09-2021,16:03:54,705 DREXEL ST,SUICIDAL PERSON,2
11421,September,C,09-09-2021,20:45:29,19 JUNIOR GILLIAM WAY,SUICIDAL PERSON,2M
11427,September,C,09-10-2021,00:37:32,230 4TH AVE N,SUICIDAL PERSON,2
11431,September,C,09-10-2021,04:17:34,1101 BROADWAY,SUICIDAL PERSON,2
11436,September,C,09-10-2021,11:55:12,705 DREXEL ST,SUICIDAL PERSON,2M
11446,September,C,09-10-2021,20:05:09,1ST AVE S / DEMONBREUN ST,SUICIDAL PERSON,3
11456,September,C,09-10-2021,23:54:54,310 GAY ST,SUICIDAL PERSON,2
11462,September,C,09-11-2021,02:26:36,205 DEMONBREUN ST,SUICIDAL PERSON,2
11574,September,C,09-14-2021,13:51:36,705 DREXEL ST,SUICIDAL PERSON,2
11581,September,C,09-14-2021,20:27:52,803 DIVISION ST,SUICIDAL PERSON,2
11590,September,C,09-15-2021,02:22:08,803 DIVISION ST,SUICIDAL PERSON,2
11663,September,C,09-17-2021,22:58:38,1101 BROADWAY,SUICIDAL PERSON,2
11745,September,C,09-20-2021,00:52:26,4TH AVE S / SYMPHONY PL,SUICIDAL PERSON,2
11765,September,C,09-20-2021,14:14:46,206 3RD AVE S,SUICIDAL PERSON,2
11794,September,C,09-21-2021,21:54:13,639 LAFAYETTE ST,SUICIDAL PERSON,2
11797,September,C,09-21-2021,22:33:21,639 LAFAYETTE ST,SUICIDAL PERSON,2
11801,September,C,09-22-2021,02:05:18,429 BROADWAY,SUICIDAL PERSON,2
11826,September,C,09-23-2021,17:59:43,639 LAFAYETTE ST,SUICIDAL PERSON,2
11876,September,C,09-24-2021,22:11:55,440 3RD AVE N,SUICIDAL PERSON,2M
11900,September,C,09-25-2021,18:44:55,639 LAFAYETTE ST,SUICIDAL PERSON,2
11934,September,C,09-26-2021,15:38:04,639 LAFAYETTE ST,SUICIDAL PERSON,2
11993,September,C,09-28-2021,17:53:17,9TH AVE N / BROADWAY,SUICIDAL PERSON,2
12002,September,C,09-28-2021,22:26:40,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
12032,September,C,09-30-2021,01:16:00,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,3
12047,September,C,09-30-2021,16:58:48,639 LAFAYETTE ST,SUICIDAL PERSON,2
12048,September,C,09-30-2021,18:22:25,639 LAFAYETTE ST,SUICIDAL PERSON,2
16974,October,C,10-01-2021,17:28:43,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
16975,October,C,10-01-2021,17:38:23,CANNERY ROW / 8TH AVE S,SUICIDAL PERSON,3
16987,October,C,10-02-2021,00:03:48,401 BROADWAY,SUICIDAL PERSON,2M
17055,October,C,10-04-2021,02:51:02,250 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17086,October,C,10-04-2021,22:21:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17095,October,C,10-05-2021,06:13:02,639 LAFAYETTE ST,SUICIDAL PERSON,2
17096,October,C,10-05-2021,06:52:55,639 LAFAYETTE ST,SUICIDAL PERSON,2M
17100,October,C,10-05-2021,07:54:10,639 LAFAYETTE ST,SUICIDAL PERSON,2
17110,October,C,10-05-2021,19:09:42,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
17121,October,C,10-06-2021,05:55:12,639 LAFAYETTE ST,SUICIDAL PERSON,2
17123,October,C,10-06-2021,07:36:52,639 LAFAYETTE ST,SUICIDAL PERSON,3
17156,October,C,10-07-2021,08:14:47,1200 BROADWAY,SUICIDAL PERSON,2M
17220,October,C,10-09-2021,10:15:17,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
17290,October,C,10-11-2021,21:49:46,639 LAFAYETTE ST,SUICIDAL PERSON,2
17310,October,C,10-12-2021,18:24:52,801 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17320,October,C,10-13-2021,03:08:45,531 LAFAYETTE ST,SUICIDAL PERSON,2
17334,October,C,10-13-2021,19:36:23,110 4TH AVE S,SUICIDAL PERSON,2
17429,October,C,10-17-2021,11:20:44,535 LAFAYETTE ST,SUICIDAL PERSON,2
17443,October,C,10-18-2021,03:51:46,422 BROADWAY,SUICIDAL PERSON,2
17465,October,C,10-19-2021,01:27:45,DEMONBREUN ST / 4TH AVE S,SUICIDAL PERSON,2
17478,October,C,10-19-2021,09:21:59,600 12TH AVE S,SUICIDAL PERSON,2
17489,October,C,10-19-2021,17:36:27,634 4TH AVE S,SUICIDAL PERSON,2
17492,October,C,10-19-2021,22:08:52,LOT M,SUICIDAL PERSON,2
17516,October,C,10-20-2021,19:54:03,301 BROADWAY,SUICIDAL PERSON,2
17517,October,C,10-20-2021,20:02:43,660 LAFAYETTE ST,SUICIDAL PERSON,3
17530,October,C,10-21-2021,06:39:01,227 SHELBY AVE,SUICIDAL PERSON,2M
17538,October,C,10-21-2021,15:32:24,611 COMMERCE ST,SUICIDAL PERSON,2
17559,October,C,10-22-2021,14:45:21,501 COMMERCE ST,SUICIDAL PERSON,2
17582,October,C,10-23-2021,02:43:52,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
17584,October,C,10-23-2021,05:20:53,410 REP JOHN LEWIS WAY S,SUICIDAL PERSON,3
17607,October,C,10-23-2021,17:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,2
17621,October,C,10-24-2021,00:06:26,639 LAFAYETTE ST,SUICIDAL PERSON,2
17678,October,C,10-25-2021,12:40:50,406 11TH AVE N,SUICIDAL PERSON,2
17709,October,C,10-26-2021,20:10:44,531 LAFAYETTE ST,SUICIDAL PERSON,2
17718,October,C,10-26-2021,22:39:35,207 BROADWAY,SUICIDAL PERSON,3
17733,October,C,10-27-2021,19:08:43,639 LAFAYETTE ST,SUICIDAL PERSON,2
17741,October,C,10-27-2021,22:15:45,REP JOHN LEWIS WAY S / BROADWAY,SUICIDAL PERSON,2
17747,October,C,10-28-2021,02:51:11,315 4TH AVE N,SUICIDAL PERSON,2
17781,October,C,10-29-2021,17:57:02,639 LAFAYETTE ST,SUICIDAL PERSON,3
17786,October,C,10-29-2021,22:34:20,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
17795,October,C,10-30-2021,03:05:41,10 PEABODY ST,SUICIDAL PERSON,2
17839,October,C,10-31-2021,04:52:06,639 LAFAYETTE ST,SUICIDAL PERSON,2M
17849,October,C,10-31-2021,19:27:45,100 BROADWAY,SUICIDAL PERSON,2
23208,November,C,11-02-2021,05:32:11,9 HERMITAGE AVE,SUICIDAL PERSON,2
23218,November,C,11-02-2021,13:30:24,KVB BRIDGE,SUICIDAL PERSON,3
23233,November,C,11-02-2021,21:08:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
23240,November,C,11-03-2021,04:06:09,639 LAFAYETTE ST,SUICIDAL PERSON,2
23293,November,C,11-05-2021,02:02:25,KOREAN VETERANS BLVD / REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23311,November,C,11-05-2021,16:56:57,112 1ST AVE S,SUICIDAL PERSON,2
23400,November,C,11-08-2021,21:06:29,800 2ND AVE N,SUICIDAL PERSON,3
23403,November,C,11-09-2021,01:49:40,3RD AVE S / DEMONBREUN ST,SUICIDAL PERSON,2
23429,November,C,11-10-2021,07:48:15,639 LAFAYETTE ST,SUICIDAL PERSON,2
23451,November,C,11-11-2021,12:38:15,705 DREXEL ST,SUICIDAL PERSON,2
23463,November,C,11-11-2021,19:42:44,616 7TH AVE S,SUICIDAL PERSON,2
23491,November,C,11-12-2021,14:36:36,639 LAFAYETTE ST,SUICIDAL PERSON,2
23497,November,C,11-12-2021,17:52:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
23501,November,C,11-12-2021,19:14:23,1101 CHURCH ST,SUICIDAL PERSON,2
23542,November,C,11-13-2021,23:18:08,600 BROADWAY,SUICIDAL PERSON,2
23554,November,C,11-14-2021,11:08:13,639 LAFAYETTE ST,SUICIDAL PERSON,2M
23606,November,C,11-17-2021,01:36:24,4TH AVE S / KOREAN VETERANS BLVD,SUICIDAL PERSON,2
23633,November,C,11-18-2021,04:18:24,310 4TH AVE S,SUICIDAL PERSON,2M
23643,November,C,11-18-2021,20:29:46,639 LAFAYETTE ST,SUICIDAL PERSON,2M
23664,November,C,11-19-2021,16:00:54,JEFFERSON ST BRIDGE,SUICIDAL PERSON,3
23693,November,C,11-21-2021,00:37:26,425 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23695,November,C,11-21-2021,01:15:52,KVB BRIDGE,SUICIDAL PERSON,3
23726,November,C,11-22-2021,02:09:38,535 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23727,November,C,11-22-2021,03:15:47,301 3RD AVE S,SUICIDAL PERSON,3
23728,November,C,11-22-2021,04:09:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
23766,November,C,11-23-2021,15:56:58,8TH AVE S / GLEAVES ST,SUICIDAL PERSON,2
23772,November,C,11-24-2021,01:43:34,9 HERMITAGE AVE,SUICIDAL PERSON,2
23792,November,C,11-24-2021,23:58:27,110 3RD AVE S,SUICIDAL PERSON,2
23812,November,C,11-25-2021,21:57:33,BROADWAY / 7TH AVE N,SUICIDAL PERSON,2M
23835,November,C,11-27-2021,01:38:17,500 LAFAYETTE ST,SUICIDAL PERSON,3
23858,November,C,11-28-2021,05:03:35,315 4TH AVE N,SUICIDAL PERSON,2
23871,November,C,11-28-2021,22:24:22,428 BROADWAY,SUICIDAL PERSON,2
23891,November,C,11-30-2021,00:52:08,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,2
23906,November,C,11-30-2021,11:10:55,639 LAFAYETTE ST,SUICIDAL PERSON,2
23911,November,C,11-30-2021,15:30:41,639 LAFAYETTE ST,SUICIDAL PERSON,3
27993,December,C,12-02-2021,02:50:08,1000 BROADWAY,SUICIDAL PERSON,2
28009,December,C,12-03-2021,00:18:08,205 DEMONBREUN ST,SUICIDAL PERSON,2
28023,December,C,12-03-2021,14:13:46,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28035,December,C,12-03-2021,23:05:39,639 LAFAYETTE ST,SUICIDAL PERSON,2
28061,December,C,12-04-2021,22:48:48,SHELBY AVE / INTERSTATE DR,SUICIDAL PERSON,2
28078,December,C,12-05-2021,19:54:58,1027 CHURCH ST,SUICIDAL PERSON,3
28085,December,C,12-06-2021,02:16:43,6TH AVE S / PEABODY ST,SUICIDAL PERSON,3
28096,December,C,12-06-2021,12:12:32,8TH AVE S / BROADWAY,SUICIDAL PERSON,3
28112,December,C,12-06-2021,21:51:42,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28116,December,C,12-07-2021,03:02:10,49 LINDSLEY AVE,SUICIDAL PERSON,3
28136,December,C,12-07-2021,21:28:39,49 LINDSLEY AVE,SUICIDAL PERSON,3
28208,December,C,12-10-2021,23:04:48,901 DIVISION ST,SUICIDAL PERSON,3
28219,December,C,12-11-2021,13:16:25,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28303,December,C,12-14-2021,17:34:53,425 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
28311,December,C,12-14-2021,22:10:58,422 BROADWAY,SUICIDAL PERSON,2M
28315,December,C,12-15-2021,02:44:50,EWING AVE / ASH ST,SUICIDAL PERSON,2
28376,December,C,12-17-2021,22:40:45,527 8TH AVE S,SUICIDAL PERSON,2
28390,December,C,12-18-2021,09:46:11,11TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
28454,December,C,12-21-2021,05:01:49,639 LAFAYETTE ST,SUICIDAL PERSON,2
28462,December,C,12-21-2021,18:04:22,4TH AVE S / BROADWAY,SUICIDAL PERSON,2
28466,December,C,12-21-2021,19:21:53,1111 BROADWAY,SUICIDAL PERSON,2
28556,December,C,12-26-2021,13:32:49,639 LAFAYETTE ST,SUICIDAL PERSON,2
28562,December,C,12-27-2021,01:01:33,315 4TH AVE N,SUICIDAL PERSON,2
28567,December,C,12-27-2021,07:49:29,SHELBY ST PEDESTRIAN BRIDGE,SUICIDAL PERSON,3
28579,December,C,12-27-2021,18:30:17,301 6TH AVE N,SUICIDAL PERSON,2
28601,December,C,12-28-2021,17:45:55,705 DREXEL ST,SUICIDAL PERSON,2
28621,December,C,12-29-2021,15:06:55,800 HARRISON ST,SUICIDAL PERSON,2
28633,December,C,12-30-2021,05:00:57,639 LAFAYETTE ST,SUICIDAL PERSON,2
28644,December,C,12-30-2021,17:43:46,639 LAFAYETTE ST,SUICIDAL PERSON,2M
28661,December,C,12-31-2021,06:41:29,639 LAFAYETTE ST,SUICIDAL PERSON,2M
33091,January,C,01-01-2022,13:16:16,REP JOHN LEWIS WAY N / COMMERCE ST,SUICIDAL PERSON,2
33092,January,C,01-01-2022,13:50:50,250 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33099,January,C,01-01-2022,17:51:02,250 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33150,January,C,01-04-2022,13:03:40,119 3RD AVE S,SUICIDAL PERSON,2
33172,January,C,01-05-2022,15:59:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
33225,January,C,01-08-2022,17:26:43,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33231,January,C,01-08-2022,21:00:11,437 ELM ST,SUICIDAL PERSON,3
33251,January,C,01-09-2022,18:49:49,639 LAFAYETTE ST,SUICIDAL PERSON,2M
33252,January,C,01-09-2022,19:25:46,131 2ND AVE N,SUICIDAL PERSON,2
33266,January,C,01-10-2022,10:50:09,LAFAYETTE ST / EWING AVE,SUICIDAL PERSON,2
33299,January,C,01-12-2022,08:49:55,705 DREXEL ST,SUICIDAL PERSON,2
33304,January,C,01-12-2022,16:47:51,705 DREXEL ST,SUICIDAL PERSON,2
33335,January,C,01-13-2022,22:50:43,4TH AVE S / BROADWAY,SUICIDAL PERSON,2M
33345,January,C,01-14-2022,17:57:15,111 N 1ST ST,SUICIDAL PERSON,2
33391,January,C,01-16-2022,05:47:51,111 N 1ST ST,SUICIDAL PERSON,3
33396,January,C,01-16-2022,11:08:28,639 LAFAYETTE ST,SUICIDAL PERSON,2M
33400,January,C,01-16-2022,17:45:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
33436,January,C,01-18-2022,14:04:39,185 ANTHES DR,SUICIDAL PERSON,2
33477,January,C,01-20-2022,15:47:29,427 LAFAYETTE ST,SUICIDAL PERSON,3
33509,January,C,01-22-2022,17:41:38,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
33530,January,C,01-23-2022,10:18:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
33564,January,C,01-24-2022,22:04:39,111 4TH AVE S,SUICIDAL PERSON,2
33567,January,C,01-25-2022,04:12:06,206 3RD AVE S,SUICIDAL PERSON,2
33582,January,C,01-25-2022,18:35:12,101 VAN BUREN ST,SUICIDAL PERSON,2
33615,January,C,01-27-2022,21:46:14,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
33651,January,C,01-29-2022,17:14:44,REP JOHN LEWIS WAY S / LEA AVE,SUICIDAL PERSON,2
33654,January,C,01-29-2022,20:38:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
33664,January,C,01-30-2022,07:38:18,639 LAFAYETTE ST,SUICIDAL PERSON,2
37751,February,C,02-01-2022,09:16:33,603 8TH AVE S,SUICIDAL PERSON,2M
37765,February,C,02-02-2022,16:28:17,1201 BROADWAY,SUICIDAL PERSON,2
37766,February,C,02-02-2022,18:12:43,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2

In [39]:
july = c_filtered.loc[c_filtered['Month'] == 'July']
july

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
70,July,C,07-03-2021,03:37:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
119,July,C,07-04-2021,21:59:08,500 REP JOHN LEWIS WAY N,SUICIDAL PERSON,2
123,July,C,07-05-2021,01:03:16,MCGAVOCK ST / 10TH AVE S,SUICIDAL PERSON,2M
151,July,C,07-06-2021,22:41:17,JEFFERSON ST / 4TH AVE N,SUICIDAL PERSON,2
155,July,C,07-07-2021,05:20:48,8TH AVE S / CLARK PL,SUICIDAL PERSON,2
162,July,C,07-07-2021,13:45:19,526 8TH AVE S,SUICIDAL PERSON,2
227,July,C,07-09-2021,23:39:10,623 6TH AVE S,SUICIDAL PERSON,2
236,July,C,07-10-2021,10:55:29,719 8TH AVE S,SUICIDAL PERSON,2M
249,July,C,07-10-2021,18:20:11,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
256,July,C,07-10-2021,22:46:41,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
274,July,C,07-11-2021,14:09:53,3RD AVE S / BROADWAY,SUICIDAL PERSON,2M
280,July,C,07-11-2021,16:23:22,639 LAFAYETTE ST,SUICIDAL PERSON,2
287,July,C,07-11-2021,19:45:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
297,July,C,07-12-2021,02:22:34,4TH AVE S / BROADWAY,SUICIDAL PERSON,3
304,July,C,07-12-2021,15:29:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
323,July,C,07-13-2021,15:38:02,600 BROADWAY,SUICIDAL PERSON,2
348,July,C,07-14-2021,14:47:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
357,July,C,07-15-2021,03:47:35,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
414,July,C,07-17-2021,10:48:48,99 SPRING ST,SUICIDAL PERSON,2
449,July,C,07-19-2021,07:20:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
461,July,C,07-19-2021,19:55:33,132 ROSA L PARKS BLVD,SUICIDAL PERSON,2
479,July,C,07-20-2021,14:20:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
484,July,C,07-20-2021,18:21:39,401 BROADWAY,SUICIDAL PERSON,2
497,July,C,07-21-2021,08:53:46,603 8TH AVE S,SUICIDAL PERSON,2
505,July,C,07-21-2021,19:01:14,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
512,July,C,07-22-2021,06:29:47,111 N 1ST ST,SUICIDAL PERSON,2
516,July,C,07-22-2021,11:42:02,151 6TH AVE N,SUICIDAL PERSON,2
520,July,C,07-22-2021,13:43:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
553,July,C,07-23-2021,18:33:00,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
564,July,C,07-24-2021,01:13:45,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
571,July,C,07-24-2021,04:21:52,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
573,July,C,07-24-2021,04:54:48,121 4TH AVE S,SUICIDAL PERSON,2
587,July,C,07-24-2021,15:49:21,1207 MCGAVOCK ST,SUICIDAL PERSON,3
608,July,C,07-24-2021,22:29:34,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
611,July,C,07-24-2021,23:05:13,BROADWAY / REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
635,July,C,07-25-2021,11:44:54,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
642,July,C,07-25-2021,18:52:07,1ST AVE N / BROADWAY,SUICIDAL PERSON,2M
648,July,C,07-25-2021,21:31:56,1700 3RD AVE N,SUICIDAL PERSON,3
654,July,C,07-26-2021,09:11:19,639 LAFAYETTE ST,SUICIDAL PERSON,2M
662,July,C,07-26-2021,19:34:04,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
671,July,C,07-27-2021,02:28:24,1001 BROADWAY,SUICIDAL PERSON,3
687,July,C,07-27-2021,17:28:38,9 HERMITAGE AVE,SUICIDAL PERSON,2
696,July,C,07-27-2021,21:42:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
698,July,C,07-27-2021,22:42:43,401 BROADWAY,SUICIDAL PERSON,3
717,July,C,07-28-2021,22:38:10,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
729,July,C,07-29-2021,18:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,3
740,July,C,07-30-2021,00:34:41,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,3
758,July,C,07-30-2021,22:14:14,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M

In [40]:
july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 17 to 758
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          53 non-null     object
 1   Precinct       53 non-null     object
 2   Date           53 non-null     object
 3   Created        53 non-null     object
 4   Address        53 non-null     object
 5   Incident Type  53 non-null     object
 6   Priority       53 non-null     object
dtypes: object(7)
memory usage: 3.3+ KB

# 53 entries for July, C Precinct

# Show calls within the 10am - 10pm; and then calls NOT included in that time frame

In [41]:
july

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
70,July,C,07-03-2021,03:37:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
119,July,C,07-04-2021,21:59:08,500 REP JOHN LEWIS WAY N,SUICIDAL PERSON,2
123,July,C,07-05-2021,01:03:16,MCGAVOCK ST / 10TH AVE S,SUICIDAL PERSON,2M
151,July,C,07-06-2021,22:41:17,JEFFERSON ST / 4TH AVE N,SUICIDAL PERSON,2
155,July,C,07-07-2021,05:20:48,8TH AVE S / CLARK PL,SUICIDAL PERSON,2
162,July,C,07-07-2021,13:45:19,526 8TH AVE S,SUICIDAL PERSON,2
227,July,C,07-09-2021,23:39:10,623 6TH AVE S,SUICIDAL PERSON,2
236,July,C,07-10-2021,10:55:29,719 8TH AVE S,SUICIDAL PERSON,2M
249,July,C,07-10-2021,18:20:11,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
256,July,C,07-10-2021,22:46:41,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
274,July,C,07-11-2021,14:09:53,3RD AVE S / BROADWAY,SUICIDAL PERSON,2M
280,July,C,07-11-2021,16:23:22,639 LAFAYETTE ST,SUICIDAL PERSON,2
287,July,C,07-11-2021,19:45:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
297,July,C,07-12-2021,02:22:34,4TH AVE S / BROADWAY,SUICIDAL PERSON,3
304,July,C,07-12-2021,15:29:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
323,July,C,07-13-2021,15:38:02,600 BROADWAY,SUICIDAL PERSON,2
348,July,C,07-14-2021,14:47:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
357,July,C,07-15-2021,03:47:35,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
414,July,C,07-17-2021,10:48:48,99 SPRING ST,SUICIDAL PERSON,2
449,July,C,07-19-2021,07:20:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
461,July,C,07-19-2021,19:55:33,132 ROSA L PARKS BLVD,SUICIDAL PERSON,2
479,July,C,07-20-2021,14:20:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
484,July,C,07-20-2021,18:21:39,401 BROADWAY,SUICIDAL PERSON,2
497,July,C,07-21-2021,08:53:46,603 8TH AVE S,SUICIDAL PERSON,2
505,July,C,07-21-2021,19:01:14,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
512,July,C,07-22-2021,06:29:47,111 N 1ST ST,SUICIDAL PERSON,2
516,July,C,07-22-2021,11:42:02,151 6TH AVE N,SUICIDAL PERSON,2
520,July,C,07-22-2021,13:43:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
553,July,C,07-23-2021,18:33:00,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
564,July,C,07-24-2021,01:13:45,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
571,July,C,07-24-2021,04:21:52,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2
573,July,C,07-24-2021,04:54:48,121 4TH AVE S,SUICIDAL PERSON,2
587,July,C,07-24-2021,15:49:21,1207 MCGAVOCK ST,SUICIDAL PERSON,3
608,July,C,07-24-2021,22:29:34,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
611,July,C,07-24-2021,23:05:13,BROADWAY / REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M
635,July,C,07-25-2021,11:44:54,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
642,July,C,07-25-2021,18:52:07,1ST AVE N / BROADWAY,SUICIDAL PERSON,2M
648,July,C,07-25-2021,21:31:56,1700 3RD AVE N,SUICIDAL PERSON,3
654,July,C,07-26-2021,09:11:19,639 LAFAYETTE ST,SUICIDAL PERSON,2M
662,July,C,07-26-2021,19:34:04,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
671,July,C,07-27-2021,02:28:24,1001 BROADWAY,SUICIDAL PERSON,3
687,July,C,07-27-2021,17:28:38,9 HERMITAGE AVE,SUICIDAL PERSON,2
696,July,C,07-27-2021,21:42:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
698,July,C,07-27-2021,22:42:43,401 BROADWAY,SUICIDAL PERSON,3
717,July,C,07-28-2021,22:38:10,400 DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2
729,July,C,07-29-2021,18:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,3
740,July,C,07-30-2021,00:34:41,4TH AVE S / DEMONBREUN ST,SUICIDAL PERSON,3
758,July,C,07-30-2021,22:14:14,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2M

In [42]:
july1 = july[july['Created'].between('10:00:00', '21:59:59')]

In [43]:
july1

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
119,July,C,07-04-2021,21:59:08,500 REP JOHN LEWIS WAY N,SUICIDAL PERSON,2
162,July,C,07-07-2021,13:45:19,526 8TH AVE S,SUICIDAL PERSON,2
236,July,C,07-10-2021,10:55:29,719 8TH AVE S,SUICIDAL PERSON,2M
249,July,C,07-10-2021,18:20:11,601 KOREAN VETERANS BLVD,SUICIDAL PERSON,2
274,July,C,07-11-2021,14:09:53,3RD AVE S / BROADWAY,SUICIDAL PERSON,2M
280,July,C,07-11-2021,16:23:22,639 LAFAYETTE ST,SUICIDAL PERSON,2
287,July,C,07-11-2021,19:45:50,639 LAFAYETTE ST,SUICIDAL PERSON,2
304,July,C,07-12-2021,15:29:56,639 LAFAYETTE ST,SUICIDAL PERSON,2
323,July,C,07-13-2021,15:38:02,600 BROADWAY,SUICIDAL PERSON,2
348,July,C,07-14-2021,14:47:28,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
414,July,C,07-17-2021,10:48:48,99 SPRING ST,SUICIDAL PERSON,2
461,July,C,07-19-2021,19:55:33,132 ROSA L PARKS BLVD,SUICIDAL PERSON,2
479,July,C,07-20-2021,14:20:01,709 REP JOHN LEWIS WAY S,SUICIDAL PERSON,2
484,July,C,07-20-2021,18:21:39,401 BROADWAY,SUICIDAL PERSON,2
505,July,C,07-21-2021,19:01:14,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
516,July,C,07-22-2021,11:42:02,151 6TH AVE N,SUICIDAL PERSON,2
520,July,C,07-22-2021,13:43:44,639 LAFAYETTE ST,SUICIDAL PERSON,2
553,July,C,07-23-2021,18:33:00,200 JAMES ROBERTSON PKWY,SUICIDAL PERSON,2M
587,July,C,07-24-2021,15:49:21,1207 MCGAVOCK ST,SUICIDAL PERSON,3
635,July,C,07-25-2021,11:44:54,WOODLAND ST BRIDGE,SUICIDAL PERSON,3
642,July,C,07-25-2021,18:52:07,1ST AVE N / BROADWAY,SUICIDAL PERSON,2M
648,July,C,07-25-2021,21:31:56,1700 3RD AVE N,SUICIDAL PERSON,3
662,July,C,07-26-2021,19:34:04,4TH AVE N / DR MARTIN L KING JR BLVD,SUICIDAL PERSON,2M
687,July,C,07-27-2021,17:28:38,9 HERMITAGE AVE,SUICIDAL PERSON,2
696,July,C,07-27-2021,21:42:06,639 LAFAYETTE ST,SUICIDAL PERSON,2
729,July,C,07-29-2021,18:39:10,639 LAFAYETTE ST,SUICIDAL PERSON,3

In [44]:
july1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29 entries, 17 to 729
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Month          29 non-null     object
 1   Precinct       29 non-null     object
 2   Date           29 non-null     object
 3   Created        29 non-null     object
 4   Address        29 non-null     object
 5   Incident Type  29 non-null     object
 6   Priority       29 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

# 29 Entries Precinct C, between 10AM and 10PM

july2 = july[july['Created'].between('22:00:00', '09:59:59')]

# 52 - 29 = 23

# 23 calls for Suicidal Person taken between 10PM and 10AM in C precinct in July.  
# 29 calls for Suicidal Person taken between 10AM and 10PM in C precinct in July.

In [45]:
Police_Calls

,Month,Precinct,Date,Created,Address,Incident Type,Priority
0,July,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,July,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,July,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,July,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,July,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...,...
48015,March,W,03-31-2022,11:46:52,3811 HILLSBORO PIKE,TRESPASSER,2
48016,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2
48017,March,W,03-31-2022,17:59:25,MURPHY RD / 42ND AVE N,DISORDERLY SUBJECT,2
48018,March,W,03-31-2022,20:31:47,2828 KENWAY RD,SUSPICIOUS PERSON,2
48019,March,W,03-31-2022,22:30:34,CLIFTON AVE / 40TH AVE N,SUSPICIOUS PERSON,2

In [46]:
suicide_all = Police_Calls.loc[Police_Calls['Incident Type'] == 'SUICIDAL PERSON']
suicide_all

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
...,...,...,...,...,...,...,...
47894,March,W,03-23-2022,06:41:49,6700 CABOT DR,SUICIDAL PERSON,2M
47958,March,W,03-27-2022,07:54:28,329 SUSANNAH CT,SUICIDAL PERSON,3
47982,March,W,03-28-2022,19:23:55,517 RIVER ROUGE DR,SUICIDAL PERSON,3
47994,March,W,03-29-2022,14:01:59,8109 BOONE TRCE,SUICIDAL PERSON,2M
48016,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2

In [47]:
suicide_all_10AM_10PM = suicide_all[suicide_all['Created'].between('10:00:00', '21:59:59')]
suicide_all_10AM_10PM

,Month,Precinct,Date,Created,Address,Incident Type,Priority
17,July,C,07-01-2021,14:08:06,1207 MCGAVOCK ST,SUICIDAL PERSON,2
23,July,C,07-01-2021,16:39:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
44,July,C,07-02-2021,11:07:14,705 DREXEL ST,SUICIDAL PERSON,2
119,July,C,07-04-2021,21:59:08,500 REP JOHN LEWIS WAY N,SUICIDAL PERSON,2
162,July,C,07-07-2021,13:45:19,526 8TH AVE S,SUICIDAL PERSON,2
...,...,...,...,...,...,...,...
47866,March,W,03-21-2022,16:23:38,610 SYLVAN HEIGHTS WAY,SUICIDAL PERSON,3
47881,March,W,03-22-2022,11:33:02,2602 HILLMEADE DR,SUICIDAL PERSON,2M
47982,March,W,03-28-2022,19:23:55,517 RIVER ROUGE DR,SUICIDAL PERSON,3
47994,March,W,03-29-2022,14:01:59,8109 BOONE TRCE,SUICIDAL PERSON,2M
48016,March,W,03-31-2022,12:24:06,7277 CHARLOTTE PIKE,SUICIDAL PERSON,2

In [49]:
suicide_all_10PM_10AM = suicide_all[~suicide_all['Created'].between('10:00:00', '21:59:59')]
suicide_all_10PM_10AM

,Month,Precinct,Date,Created,Address,Incident Type,Priority
31,July,C,07-01-2021,23:23:27,639 LAFAYETTE ST,SUICIDAL PERSON,2
37,July,C,07-02-2021,06:23:06,1221 BROADWAY,SUICIDAL PERSON,2
70,July,C,07-03-2021,03:37:59,639 LAFAYETTE ST,SUICIDAL PERSON,2
123,July,C,07-05-2021,01:03:16,MCGAVOCK ST / 10TH AVE S,SUICIDAL PERSON,2M
151,July,C,07-06-2021,22:41:17,JEFFERSON ST / 4TH AVE N,SUICIDAL PERSON,2
...,...,...,...,...,...,...,...
47704,March,W,03-10-2022,01:19:55,4419 TENNESSEE AVE,SUICIDAL PERSON,2M
47761,March,W,03-15-2022,09:56:04,4500 POST RD,SUICIDAL PERSON,3
47842,March,W,03-19-2022,22:05:50,5731 RIVER RD,SUICIDAL PERSON,2M
47894,March,W,03-23-2022,06:41:49,6700 CABOT DR,SUICIDAL PERSON,2M
47958,March,W,03-27-2022,07:54:28,329 SUSANNAH CT,SUICIDAL PERSON,3

In [ ]:
suicide_all.to_csv('suicide_all.csv')